[2019-05-13 20:10] ljharb commented on #205
This is already doable by adding matrix lines in `.travis.yml` for each LTS signifier that nvm supports, as well as `node`. I'm not sure how it would work to have something in the yml that created more than one item.

[2019-05-14 07:38] dominykas commented on #208
Aren't this and #209 essentially duplicates? It all starts with a definition, and the definition can be worded as the RFC? Which can then have two parallel implementation paths - cleaning as part of `npm prune` (already works for dev deps, so only needs to be extended for files) and not installing as `npm install` in the first place (but presumably only when run as `--production`)?

[2019-05-14 07:43] dominykas commented on #205
Yes, it is possible to do this and we should evangelize that, however I think this issue is to change the default, i.e. the behavior when you have _no_ versions defined. At the moment it will only run in the latest stable - I think we should advocate that it should run in the latest stable + latest LTS and that is _without_ adding any lines other than `language: node_js` in the `.travis.yml`.

I a

[2019-05-14 13:37] ljharb commented on #208
This is different from dev/prod - you’d want dev deps installed, but with minimal files.

[2019-05-14 13:44] ljharb commented on #205
I’m the maintainer of nvm who invented “lts/*” - in no way was it ever intended to support multiple versions, it’s a single star and behaves the same way a single star does on the command line, selecting the first matched version only.

[2019-05-14 13:46] dominykas commented on #208
Sure, the setting to prune the deps to prod-only deps should not be the same setting to prune the files to prod-only files, but I believe this can still be implemented as a flag for both - `prune` and `install`.

We've learnt that mistake with npm-shrinkwrap and package-lock controlled by the same setting...

[2019-05-14 13:48] dominykas commented on #205
Cool, thanks, good to know! Did not realize this comes from `nvm` and assumed it's a glob.

[2019-05-14 14:07] ljharb commented on #205
That would still indicate a single version; nvm (travis’ sole means of deciding node version) does not have any concept of selecting multiple versions, only listing them.

I can certainly ask Travis to change the default matrix to have multiple jobs, but i anticipate pushback about the complexity for users of getting, say, 3 jobs by default, adding 1, and ending up with 1 - if that comes up, how s

[2019-05-14 14:33] dominykas commented on #205
Ideally, library maintainers, esp. for popular libs, _should_ be testing at least in all active LTS plus stable, but if that's not feasible (there's an obvious cost associated with 3x the job runs), then the current default of `stable` is a good one, I would say.

Regardless of that, adding a way to define "all active LTS" in a single line of `.travis.yml`, which does not need to be maintained, wo

[2019-05-15 12:05] mhdawson opened #212 "Node.js Foundation Package Maintenance Team Meeting 2019-05-20"
## Time

**UTC Mon 20-May-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 20-May-2019 06:00 (06:00 AM) |
| US / Mountain | Mon 20-May-2019 07:00 (07:00 AM) |
| US / Central  | Mon 20-May-2019 08:00 (08:00 AM) |
| US / Eastern  | Mon 20-May-2019 09:00 (09:00 AM) |
| London        | Mon 20-May-2019 14:00 (02:00 PM) |

[2019-05-15 14:28] mhdawson commented on #201
PR for minutes; https://github.com/nodejs/package-maintenance/pull/213

[2019-05-15 14:28] #201 closed

[2019-05-15 14:29] mhdawson commented on #212
@mcollina I won't be able to make this one as I'm at a conference next week.  Will you be able to chair?

[2019-05-15 19:32] Eomm commented on #192
Regarding:

to the pages which describe the levels.

I made this poc:
https://package-badge.herokuapp.com/ [repo](https://github.com/Eomm/package-badge/tree/poc)

I will list the badges we should provide 👍

[2019-05-16 07:27] kenigbolo commented on #212
One of the moments when I wish Github could send reminders. I’ll add this to my calendar so I’m able to join in on the 20th

[2019-05-16 11:20] ghinks commented on #206
# Greenkeeper

I reached out to the greenkeeper team **only to discover they are organizing JSConfEU** and are really busy at the moment.

These are the **questions** I asked of them

1) Please could the package maintenance team have a contact at Greenkeeper

2) The package maintenance team would like to know if it is possible to add
testing against recommended node versions?

3) Are aware of the

[2019-05-16 20:14] styfle commented on #192
Perhaps you could utilize https://badgen.net if you want to create badges.

[2019-05-16 20:20] rxmarbles commented on #151
closing issue due to PR and minutes added

[2019-05-16 20:20] #151 closed

[2019-05-16 20:46] Eomm commented on #192
Yeah, the target is like that site: from a package's name get the `package.jscon`, read the [new support tag](https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/Baseline%20practice%20-%20Document%20support%20levels.md) and build the badges!

The badge is only a "nice to have" in order to build the really useful stuff:
- check the supports levels of your package + dependencies
-

[2019-05-17 13:29] mhdawson commented on #206
I think it's probably best to wait until after JSConfEU so we can have their full attention.

[2019-05-17 13:36] mhdawson commented on #205
I think the

part would really be helpful.  @ljharb if a single entry mapping to multiple entries does not fit the model any other ideas?  I wonder about something like LTS-latest, LTS-1, LTS-2 or some other way to try and catch all of the active LTS versions which would not have to be updated for each new release.

[2019-05-17 15:11] #207 closed

[2019-05-17 15:13] ghinks commented on #206
ok, I think that is best too :)

[2019-05-18 01:16] ljharb commented on #205
hmm, probably the easiest way would be for me to add a similar feature to nvm; then travis can get it by default.

[2019-05-20 13:05] kenigbolo commented on #212
Seems like the meeting isn't holding today then?

[2019-05-20 13:05] lance commented on #212
Appears not to be happening at the moment. @mcollina were you planning to chair?

[2019-05-20 13:06] mcollina commented on #212
I'm trying to start this, but it seems I cannot log in.

[2019-05-22 20:12] Eomm commented on #192
Updated the poc (IDK why the badges are always grenn..)
- valid: https://package-badge.herokuapp.com/backing/package-compliant
- doesn't have support: https://package-badge.herokuapp.com/backing/fastify
- doesn't have support + scoped module: https://package-badge.herokuapp.com/backing/@sindresorhus/df

@nodejs/package-maintenance someone could help me to build a draft gui?
I think that is necessa

[2019-05-23 03:25] TheHollidayInn commented on #192
I gave it a shot: https://github.com/Eomm/package-badge/pull/1. Feel free to disregard if I'm way off :P

[2019-05-23 22:19] ghinks commented on #164
I'm hoping these satisfies both sides.

# Ignored files

The maintenance team recognises that there are two schools of thought in what should be included in the released package. The two schools being **minimalist** and **fully-inclusive**.

# Minimalist

The deployed package should contain only what is required for it to actually function. All the non executing files should be in the source code

[2019-05-23 23:13] ljharb commented on #164
@ghinks under "suitable use", it'd be great to talk about the tradeoffs of npmignore vs files, as well.

I'd also like to mention the caveats for package phobia; namely that it doesn't measure non-"main" endpoints, and its "bundle size" metric doesn't account for deduplications across your graph, nor for bundler-time optimizations.

(i can't PR review that comment, but please also use the oxford c

[2019-05-24 00:33] styfle commented on #164
@ljharb You quoted "bundle size" but that wording is not used anywhere on https://packagephobia.now.sh

Additionally, you haven't explained what "non-main endpoints" means.

[2019-05-24 00:59] ljharb commented on #164
It doesn’t account for your entire graph, because you don’t have the entire app’s graph available when you run npm install.

I mean, any deep import that isn’t in package.json’s “main” field.

[2019-05-24 11:08] mcollina commented on #164
@ghinks I would provide some edits on the above text.

**For Minimalist approach**

test and docs should be excluded. The goal is to ship only the minimum amount of files that are necessary to use the lib.

**For Fully Inclusive**

Some non essential files should be excluded, as an example:

* unessential assets, such as logos.
* CI integrations
* Configuration files

The goal is to provide a full

[2019-05-24 19:41] jchip commented on #164
I prefer both.  When developing, I'd like full docs and tests available.  When deploy to production, the minimalist.

There are different solutions with tools to achieve the minimalist path, through bundling, minification, etc, but that's not ideal and there isn't a clear winner for doing it (correct me if there is).

Generally, I steer clear of any package that doesn't have a link back to a publi

[2019-05-24 20:17] mhdawson commented on #212
Closing as meeting is in the past.

[2019-05-24 20:17] #212 closed

[2019-05-24 20:56] mhdawson commented on #192
With travel I'll probably only get to moving the repo after JSConfEU.

On another note I got some good feedback that end users would find this useful as part of a presentation at the PowerUP19 conference this week.

[2019-05-26 16:15] ghinks commented on #164
# Baseline Practices
## Issue 164, .npmignore or package.json files

### Summary of comments

| discussion point | Elaboration and work to do |
|------------------|----------------------------|
| Github repos can be deleted| When a package is adopted by the **maintainers** there must be a github repo. The only viabale solution is to own the rights to deletion or keep a synchronized fork of the rep

[2019-05-27 17:36] jchip commented on #209
Given that npm already has `.npmignore` and `files` to filter what to publish, I think we just need a way to specify what files are needed for production.  Like a new `prodFiles` in package.json.  The tool would remove all files not included in that.

@ljharb What are your thoughts?

[2019-05-27 19:11] ljharb commented on #209
I think the combo of “publish all files”, a “prod files” package.json spec and a tool to validate it, and a tool that can prune all non-prod files from node_modules recursively, would be super useful.

Especially given tink’s direction, this seems looks a good approach.

[2019-05-29 06:09] Eomm opened #214 "[tool] used-by -- find the biggest users of a package"
Based on [this documents](https://github.com/nodejs/package-maintenance/tree/master/pilots) this issue cover a bullet point from [this task list](https://github.com/nodejs/package-maintenance/blob/master/pilots/mqttjs/TASKS.md)

The topic is:

For this issue, I think we could:
- [brute force idea] release a version that shows a disclaimer message on the install of this package
- check the [used li

[2019-05-29 06:13] Eomm opened #215 "[MQTT.js] issues management - templating utils"
Based on [this documents](https://github.com/nodejs/package-maintenance/tree/master/pilots) this issue cover a bullet point from [this task list](https://github.com/nodejs/package-maintenance/blob/master/pilots/mqttjs/TASKS.md)

The topic is:

For this issue, I don't have many ideas:
- write some templates issues
- open a PR to add those templating
This can be automatized in order to replicate it

[2019-05-29 06:17] Eomm opened #216 "[MQTT.js] issues analysis - words tool"
Based on [this documents](https://github.com/nodejs/package-maintenance/tree/master/pilots) this issue cover a bullet point from [this task list](https://github.com/nodejs/package-maintenance/blob/master/pilots/mqttjs/TASKS.md)

The topic is:

For this issue, I think we could:
- build a tool that creates a word cloud in order to visualize the most commons problems
- validate the results of this id

[2019-05-29 11:47] TheHollidayInn commented on #216
I can give this a try

[2019-05-29 12:05] mhdawson opened #217 "Node.js Foundation Package Maintenance Team Meeting 2019-06-03"
## Time

**UTC Mon 03-Jun-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 03-Jun-2019 12:00 (12:00 PM) |
| US / Mountain | Mon 03-Jun-2019 13:00 (01:00 PM) |
| US / Central  | Mon 03-Jun-2019 14:00 (02:00 PM) |
| US / Eastern  | Mon 03-Jun-2019 15:00 (03:00 PM) |
| London        | Mon 03-Jun-2019 20:00 (08:00 PM) |

[2019-05-29 13:33] TheHollidayInn commented on #216
Here is my first draft: https://github.com/TheHollidayInn/IssueWordCloud

And the image: https://github.com/TheHollidayInn/IssueWordCloud/blob/master/wordcloud.png

I still need to preprocess (remove stop words and others) - just want to confirm this is a good direction.

[2019-05-29 18:03] Eomm commented on #216
Super fast!

Looking at it it seems that the main issue is related to connection management.
Is this true? - I need to check the real issues

[2019-05-29 18:45] TheHollidayInn commented on #216
I only used a few issues in the example: https://github.com/TheHollidayInn/IssueWordCloud/blob/master/issues.txt

They do seem to be related to the word connection. I'd say there are probably sub categories there.
I'm not sure "connection" would be too helpful since the whole library is a server-client program :P

[2019-05-30 20:16] dominykas commented on #206
Just checked up on renovate and it seems they also already support it: https://renovatebot.com/docs/configuration-options/#travis - I'll see if I can test it out on a project (they don't seem to support matrix config, but maybe the simple version is good enough).

[2019-05-31 06:15] mhdawson commented on #217
I'm still going to be on a plane coming back from the collab summit.  @mcollina can you chair?

[2019-05-31 15:15] ahmadnassri commented on #217
as discussed at collab summit, we're cancelling this one.

[2019-05-31 15:15] #217 closed

[2019-05-31 16:25] wesleytodd commented on #209
I have been absent, so sorry if this question has already been answered.  What happens when an app "worked in staging" because of using this?  Unless we also somehow recommend that app developers use this tooling in their test environments, it seems like this will be a common occurrence.

In my experience, having used browserify to achieve something similar, module authors do all sorts of weird th

[2019-05-31 17:29] ljharb commented on #209
That’s a really good point - nobody who’s using files or npmignore is likely running CI against an npm pack version of their package, which would be the same effective step required to test “prodfiles”.

Maybe we should put this a bit on hold, pending an effort to develop and recommend an easy way to run tests (both locally and in CI) against the package files that will actually be published? (sin

[2019-05-31 17:35] vweevers commented on #209
The CITGM folks probably also have thoughts about this?

[2019-06-01 10:03] dominykas commented on #209
Not sure why would this need to be on hold? Files/npmignore is already in the wild, prodfiles (and prodignore?) Is just an extension of that? And whether the tests get built first or the spec is a bit of a chicken/egg? But also not entirely necessary, given the existing patterns of files/npmignore (include lib/src, exclude tests - the obvious stuff applies to majority of the cases).

[2019-06-01 14:38] ljharb commented on #209
I’m talking about prodfiles itself - pushing a new package.json field to the community is a big deal and shouldn’t be done lightly.

I agree that files/npmignore is already in the wild, but so too is “not actually testing the real list of published files”, and recommending *another* mechanism of restricting published files seems dangerous without that testing.

[2019-06-03 07:16] Eomm opened #218 "support field to support "license""
In the [slack channel](https://node-js.slack.com/archives/CEZRQJGVA/p1559314747010400) there are the raw notes written down by @craftninja 👏 , during the OpenJS Summit.

The main feedback we get is that the [`support` field](https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/Baseline%20practice%20-%20Document%20support%20levels.md) in our draft could be more attractive if not in

[2019-06-03 08:45] craftninja commented on #189
Slides and feedback notes from the presentation:

https://slides.com/emilyplatzer-1/openjscollabsummitberlin2019#/

[code]

[2019-06-03 09:09] craftninja commented on #218
I added the notes and slides [here](https://github.com/nodejs/package-maintenance/issues/189#issuecomment-498168274), and am planning on reviewing next meeting, but definitely pull things out to specifically discuss if it is necessary!

[2019-06-03 09:11] craftninja commented on #218
@Eomm did you want to tag this with package-maintenance-agenda to discuss next meeting?

[2019-06-03 17:30] wesleytodd commented on #218
This is one of the most important questions in this I think.  IMO a meaningful change in the support model can be a breaking change.  This would be a great thing to have strong documentation on before rolling this out.

I think there might be some work here around "deprecated support models" on a project.  Like if you were supported by a company then left said company, now the old support model ca

[2019-06-03 17:35] ljharb commented on #218
I don’t think I’m convinced by the package.json arguments. Adding a json key won’t meaningfully affect parsing perf, and there’s already tons of other config that lives there.

As far as the license, the file does not necessarily win - it hasn’t been tested in court, and i can absolutely see a spdx compliant license field trumping a separate license file, in some scenarios.

Yes, any change in sup

[2019-06-03 17:45] wesleytodd commented on #218
I sort of agree, but I think having a file format might give us more room to grow in the long run.

You are right, but I was hoping we could find some way to avoid the issue of having to publish tons of extraneous versions when the code parts of a package are not changing.  I think probably this is unavoidable though.

[2019-06-03 17:47] ljharb commented on #218
Until that’s fixed for readmes, i don’t think it should/can be fixed for other things ¯\\\_(ツ)_/¯

[2019-06-03 19:38] dominykas commented on #205
@ljharb any chance there's an update on this? I'd be keen to hear any and all opinions from Travis, before I start drafting #204... Can I be of any assistance on the nvm side of things (a stretch, given I'm no bash guru, but still)?

[2019-06-03 19:39] dominykas commented on #205
By the way, renovate does have some syntax on this: https://renovatebot.com/node/

[2019-06-03 19:51] ljharb commented on #205
@dominykas the more i think about it, the more i don't think it's really compatible with travis without being built into nvm. (the renovate link 404s for me)

[2019-06-03 20:02] dominykas commented on #205
Looks like a bug in renovate docs routing or smth, here's a link that works: https://renovatebot.com/docs/node/

[2019-06-03 21:56] Eomm commented on #189
I'm delighted to have participated to (my first) this Collaborator Summit, and I would like to share my notes.

Listening @MylesBorins explaining the ECMAScript Modules and all the special cases that this feature must support show that the edge cases are not so "edge". The main note is that there is the hypothesis to add new fields in the package.json to:
- support two types of loading (CommonJS a

[2019-06-05 19:11] mhdawson commented on #218
I've tagged so its on the agenda for the next meeting.  Once we talk through the different options and have agreed on what direction we want to go I'll take a cut at updating our doc.

I like the suggestion that the entry in the package.json point to a file (remote or part of the package).  Allowing it to be remote allows the support info to be changed without a release.  I think @sam-github's poi

[2019-06-05 19:12] mhdawson commented on #206
@dominykas good find.

[2019-06-05 19:45] Eomm commented on #218
I mainly agree that moving the info in a separate file is ok.
In the package.json I would add only a link as per `bug` field that usually link the `/issues` of the repo:

[code]

Let's say that this "support licence" should explain:

- how is the support for range version from a specific version*
- how the support can be contacted
- an agreement on how long could be the notice in case of support c

[2019-06-05 19:49] ljharb commented on #218
we'd need something programmatic, not a link to a human-readable markdown section.

For what it's worth tho, I still think support is tied to *each version* of a module. If you release v1.2.3 under a certain support commitment, you should have to provide that support to that version *forever*, just like a license applies forever. If we want to build in expiration, or updating, that should be part

[2019-06-05 20:05] Eomm commented on #218
the second one doesn't exclude the first one: I saw, for example, a special format for issue templating in Github and also in some headless CMS that apply:
[code]
(IDK if it is standard or defacto standard)

[2019-06-05 20:22] ljharb commented on #218
very true, but it seems much more awkward if we insist people bury HTML comments or similar in their prose.

[2019-06-05 20:28] pi0 commented on #218
One other point about why not distributing `support` via NPM package is that the support terms of a package may change at any time by the maintainer and not predicted ahead of time.

Agree with @Eomm that we can point `support` field to an external live URL so package managers can always fetch the latest state like this:

[code]

The JSON  file (or any other format that describes support status) d

[2019-06-05 20:37] ljharb commented on #218
To me that's the exact reason it shouldn't be a file - support for a version is something you should commit to for the forseeable future, not something you should be able to revoke at any time. this, bu Whether it's part of the package tarball or not, it would need to have some sort of irrevocable/immutable way to communicate and update this information (like npm publishing), and neither a git rep

[2019-06-05 20:54] pi0 commented on #218
@ljharb Agree and see your point about making it permanent/immutable across releases. This probably involves adding another release in that range if maintainer decides to change support policy for a specific range but probably worth as of simplification.

What do you think about (also) allow inlining like this:

[code]

The `expires` field is optional and can help to ensure automatically invalidat

[2019-06-05 21:04] Eomm commented on #218
I think that forever support in the package.json for a version it would be practicable only for companies.

And for example, if I have:
- v1 support regular7
- v2 support regular1

and I want to change the v1 support to none, I'm restricted to release as minor or patch.

How maintainers could apply forever support?
A licence may change across version, but it is about how the client uses the source

[2019-06-05 21:06] pi0 commented on #218
I believe we can support both methods (inlining with pkg and external reference) and individuals/companies can choose between them. They can even switch method in any release/time and we can observe what method will be more adopted.

[2019-06-05 21:31] ljharb commented on #218
I'm not a company, and I will be supporting all 100+ packages I maintain forever. Most of them require effectively zero ongoing maintenance cost. (in your example, it's trivial to publish a backport patch to v1 that alters the support imo)

[2019-06-05 21:37] vweevers commented on #218
There's intent, and then there's reality.

[2019-06-05 21:40] ljharb commented on #218
@vweevers very true, but so far they're the same :-)

[2019-06-05 22:38] dominykas commented on #218
I must 🙇 down to you for the spirit (genuinely), but let's face it - the whole reason this group exists is because very few people have the same commitment as you do. Nor should they.

---

Do we need to take a step back and revisit _why_ do we even have this `support` field? What are its use cases?

- The way I see it - it's an indicator, so that people who are looking to chose a package can make

[2019-06-05 23:16] ljharb commented on #218
i like a timestamp field (maybe `as_of`?), along with an optional `expiry` field, both ISO date strings.

Agreed that `npm deprecate` can trump the support notice, that way an individual version can be unsupported even if it was published with support.

I'm not convinced about "latest trumps earlier versions", i think "support field + deprecate" is sufficient to cover older versions.

I like those

[2019-06-06 03:00] sam-github commented on #218
@ljharb

Whatever your good intentions, that's simply not true, unless you live forever!

Whether we think people _should_ abandon support for a module or not, people do, so building a mechanism that doesn't allow what people actually do to be communicated seems like its destined for difficulty. Also, some people might decide they want to offer MORE support for old versions, perhaps they decide to

[2019-06-06 05:08] wesleytodd commented on #218
I agree with this in general, but I think some flexibility here is good.  I think we could adopt a yaml block like @Eomm points out, which is both human and machine readable.  Then we could also allow a more verbose description field which people can give their more details support info.  I do think we could restrict it to a whole `SUPPORT.md` file, instead of a partial from another file like `REA

[2019-06-06 20:03] mhdawson commented on #218
What I was initially thinking is that we could use the same json we'd defined, simply export it to a separate file instead of having it in the package.json.   I've heard many complaints about yaml files so not sure on switching to that.

I also agree with

[2019-06-06 21:39] craftninja commented on #189
@Eomm : Those projects within the OpenJS Foundation are here: https://openjsf.org/projects/ . These notes are awesome!

[2019-06-07 18:23] wesleytodd commented on #218
I guess my thinking there was that at least yaml has comments and is relatively human readable.  But I don't strongly care, JSON is good with me.

[2019-06-07 18:25] ljharb commented on #218
toml > > > yaml, but json is probably simplest.

[2019-06-07 19:20] pi0 commented on #218
Is there anything preventing us to support json5 comments? :D

[2019-06-07 19:50] ljharb commented on #218
no need, json has comments:
[code]
tools that cause the comment to be discarded are broken :-p

[2019-06-07 20:48] Eomm commented on #218
Starting from the @pi0 proposal I would try to propose this version:
[code]

[2019-06-07 20:49] wesleytodd commented on #218
Should we move funding and contact into the support key? Seems like funding is part of the support model.

PS lol `iwantmoney@nodejs.com`

[2019-06-07 21:09] Eomm commented on #218
My idea was to define an array of support based on the versions range and I thought the contacts and funding were constant across all the versions.

[2019-06-07 21:14] wesleytodd commented on #218
Are they?  What I meant was that sometimes if the maintainer changes the funding or contact info changes along with it.  Maybe we could support both ways and let the version one supersede the global one?

[2019-06-09 12:30] ghinks commented on #206
# Renovate latest LTS investigation

_( the following was done via travis ci )_

So it is now after JSConfEU and I'll start to look at these items again. So I signed up for the renovate service on my little test repo and the only thing that was required was the following in the **renovate.json** file in the root folder.

[code]

after adding this and merging it into my test repo I saw the travis j

[2019-06-09 12:40] ghinks commented on #164
For this item(164) I'm not quite sure where to go with it next as a number of similar items are now open. I would like to talk about it at the next meeting. Plenty of interesting stuff, we just need to decide how and what to document into our set of guidelines.

[2019-06-09 12:51] ghinks commented on #205
I left a write up at [206](https://github.com/nodejs/package-maintenance/issues/206) and the **renovate** bot does appear to meet our needs.

[2019-06-09 18:04] trivikr commented on #206
We're using Greenkeeper with our aws-sdk-js-v3 monorepo for around 4 weeks now ([link](https://github.com/aws/aws-sdk-js-v3/pulls?q=is%3Apr+author%3Aapp%2Fgreenkeeper+is%3Aclosed))

[2019-06-09 18:56] ghinks commented on #206
cheers, looking into it.

[2019-06-09 20:03] ghinks commented on #206
@trivikr I see your use case. I choose to test the example for case where package-lock.json files are used in a mono repo. In this case I could not get it working. Sorry for any confusion. What I am looking for is an example use that uses the [greenkeeper-lockfile](https://www.npmjs.com/package/greenkeeper-lockfile) mechanism within a monorepo that has lock files.

Quite a bit has been written abo

[2019-06-10 01:37] trivikr commented on #206
@ghinks we're considering switching to [dependabot](https://dependabot.com/javascript/) as it has support for lockfiles and it also works with monorepo. Not sure if it supports lockfiles in a monorepo though.

[2019-06-10 11:18] ghinks commented on #206
<img width="992" alt="Screen Shot 2019-06-10 at 7 17 18 AM" src="https://user-images.githubusercontent.com/5049078/59192253-d8f31f80-8b4f-11e9-9e4b-0c011e3bf676.png">
one more to look at :)

[2019-06-10 14:31] trivikr commented on #206
Yup :-)
GitHub acquired them on [May 23rd](https://dependabot.com/blog/hello-github/), doubled the team size and it's already integrated for automated dependency updates for security fixes!

[2019-06-11 18:04] mhdawson commented on #218
I think moving the contact info into the support key is the safest approach and I don't think there will be so many variations that any duplication will matter.

[2019-06-11 18:07] mhdawson commented on #218
Should have also said I also think moving the funding into the support key also makes sense.

[2019-06-11 20:47] Eomm commented on #218
Do you mean like this (without replicating the `funding` and `contacts` for each versions)?

[code]

Then I will try to make a PR as the next step

[2019-06-12 12:06] mhdawson opened #219 "Node.js Foundation Package Maintenance Team Meeting 2019-06-17"
## Time

**UTC Mon 17-Jun-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 17-Jun-2019 06:00 (06:00 AM) |
| US / Mountain | Mon 17-Jun-2019 07:00 (07:00 AM) |
| US / Central  | Mon 17-Jun-2019 08:00 (08:00 AM) |
| US / Eastern  | Mon 17-Jun-2019 09:00 (09:00 AM) |
| London        | Mon 17-Jun-2019 14:00 (02:00 PM) |

[2019-06-12 13:50] mhdawson commented on #219
I'm booked for the first half of the meeting slot.  Would people be ok with moving to 1/2 hour later?

[2019-06-12 14:26] mhdawson commented on #218
@Eomm I meant moving contact and funding into the objects in the"versions" section to that each of those entries could have different contacts and funding info.  It covers the most different situations.

[2019-06-13 20:43] Eomm commented on #219
I can't be in since I will be at work 😔 (UTC+2)
---
My updates:
- I will open a PR for #218 as an output of the discussion that started. I hope to do it before the weekend 👍
- For #192, I think it is blocked by #218 since we are changing the format of the support file

[2019-06-13 20:45] rxmarbles commented on #219
I'm fine with either time.

[2019-06-15 20:07] jsumners opened #221 "[ldapjs] Consider for maintenance"
https://github.com/joyent/node-ldapjs

Note: I am in no way affiliated with the package in question.

I'd like to suggest the ldapjs package for inclusion in the maintenance program. According to the public stats on [npmjs.com](https://www.npmjs.com/package/ldapjs):

+ This package sees almost 50,000 downloads per day
+ This package is directly depended upon by 229 other packages

Anecdotally, I t

[2019-06-15 20:17] ghinks commented on #221
This does indeed look like a good candidate I would not be surprised if several large enterprises were unknowingly dependent on this unsupported package.

[2019-06-16 10:54] ghinks commented on #206
So just to wrap up this discussion. I adjusted the renovate configuration so that it triggered nightly ( you do not seem to be able to trigger a test yourself )
[code]

I took my travis config and reduced the lts current number so I could get a PR triggered by renovate.

[code]

<img width="390" alt="Screen Shot 2019-06-16 at 6 51 20 AM" src="https://user-images.githubusercontent.com/5049078/59563

[2019-06-16 19:17] mhdawson commented on #219
Turns out I have a dentist appointment in addition to being booked for the first half. @mcollina can you chair?

[2019-06-16 21:04] ghinks commented on #219
I'm booked for 9-10am EST too. I have another standing meeting that time.

[2019-06-16 21:26] Eomm commented on #221
We need to focus also on this type of issue: when a package needs a new "incubator" to start a new life.
Would the actual maintainer join the pilot packages #142 program?
This could improve our range of cases since it seems, there are different problems like:
- time to review
- time to release
- unknown test coverage

Relates to #144

[2019-06-16 21:38] mcollina commented on #219
I can start the streaming if there is somebody else that can Chair. I have a conflict, and I’ll drop immediately after starting the stream.

[2019-06-17 00:15] craftninja commented on #219
I will be pretty busy with Space Camp this week  🎈 🚀 and on vacay next two Mondays (back July 4th). Although I'd love to review the session from Berlin #189.

[2019-06-17 00:19] Emuentes commented on #219
@mcollina I sent a message in the NodeJS Slack.

I can chair the meeting, but I'd like some clarification of the process...

Here is what I assume the process is for this next meeting:

is the above correct?

[2019-06-17 00:37] mhdawson commented on #219
@Emuentes that is correct.

[2019-06-17 05:08] Emuentes commented on #219
Thanks @mhdawson 👍

See everybody tomorrow morning :-)

[2019-06-17 06:18] Emuentes opened #223 "Blog outlining the support levels and how to use the tool to validate them"

[2019-06-17 12:06] ghinks commented on #219
moved item #206 renovate/greenkeeper to done in the project board and closed the issue.

[2019-06-17 13:18] Emuentes opened #224 "[Support Levels] Blog post on adding tool to your CI"

[2019-06-17 13:30] Emuentes opened #225 "Best Meeting Time for Highest Attendance"
Looks like we could work on improving our meeting time-slot to improve attendance, let's discuss best times to meet below.

[2019-06-17 13:41] mhdawson commented on #225
As reference the existing times are:

9 AM EST Monday
3 PM EST Monday

We should also see if Monday is still the best day as well.   Mondays tend to have more overlaps with holidays (For example 2 weeks from now when our next meeting is, it's a holiday in Canada -> Canada Day)

[2019-06-17 20:26] mhdawson commented on #206
@ghinks I think we need a follow on if this is going to be closed.  We don't necessarily want to recommend a single commercial tool so it would be good if all of the tools had the option that kept you up to date testing against recommended versions.  Maybe we need guidance which explains how to do that with each of the 3 mentioned (and we'd be open to other's being PR'd in as well).  It sounds lik

[2019-06-17 21:36] ghinks commented on #206
Agreed. I think it would be best. Let me start off with a description of what is possible with the three bots that I have investigated.

[2019-06-17 21:37] mhdawson commented on #206
@ghinks sounds perfect.  Feel free to re-close this issue if you want to do that in a new issue, just re-opened so we would not forget.

[2019-06-19 20:22] Eomm commented on #225
For me Monday or Tuesday is good, but my time is >=13 PM EST _(19:00 Rome)_

[2019-06-19 21:41] Eomm commented on #219
Does someone write down the minutes?

If not, I will view the recorded video and could write it 👍

[2019-06-21 18:30] rxmarbles commented on #225
I can't attend the 9 am EST due to it being like 6am my time and I'm either get the family ready for the day. I can attend the 3PM EST which is around my lunch time 😄

[2019-06-21 19:57] jsumners commented on #221
🤦‍♂️

I got contacted this afternoon by my old employer because an app that has been running flawlessly for the year since I left suddenly stopped working. The issue was they updated Node to v10 and the ldapjs library, the hinge of the app, was causing a TCP connection reset.

[2019-06-21 22:17] ghinks commented on #206
Leaving this item open. Greenkeeper (Jan Lehnardt) have reached back out to me after JSConfEU and the  thread of our conversation is kicking off again.

[2019-06-22 10:56] mcollina commented on #221
I propose we ask if we could ask for a transfer of the package to this group. This should include both the github repo (for issues and PRs) and the ownership of the npm package, and start working on it.
In the meanwhile, we should:

1. create a fork of the original repo, ideally in a less known organization (the nodejs/ org might be intimidating)
2. update it, solve known bugs etc.
3. release

Wdy

[2019-06-22 11:35] jsumners commented on #221
I think that for whomever volunteers to take this project on that it would be a waste of their time working on a fork that might never take over `npm.im/ldapjs`. It seems to me the "clout" of the nodejs org is what solves the take over problem for abandoned "core" modules. In this specific case, I would think someone in the nodejs org has contacts at Joyent they could use to start the inquiry abou

[2019-06-22 12:59] mcollina commented on #221
There is a way to take ownership of a unmaintained module on npm, I've done this several times in the past, and it works reasonably well (npm support is _amazing_). Even if Joyent does not respond to transfer the module, it's possible to help the community anyway.

[2019-06-22 15:37] jsumners commented on #221
Then your plan sounds fine to me.

[2019-06-22 20:30] melloc commented on #221
Hey all,

I brought up transferring the `node-ldapjs` repo to the `nodejs` organization internally at Joyent earlier this week, and people are fine with doing that. @jgeurts forked the project a while back as [`ldapts`](https://github.com/ldapts/ldapts), and has fixed several issues in the fork. If he's willing to take over `ldapjs` maintainership, I'd be happy to add him (or whoever else steps up

[2019-06-22 20:41] jsumners commented on #221
He didn’t really for it though. He started from scratch in TS and has only implemented some portion of the client.

[2019-06-24 14:26] mhdawson commented on #221
@mcollina I don't think this repo is necessarily the right place to transfer modules.  I think this group should help to find volunteers who want to help in situations like this but not necessarily own the modules as I'm worried that will set an expectation that may not be able to be met.

[2019-06-24 14:48] jgeurts commented on #221
@melloc I can help with getting some PRs approved, pushing out some new npms, and getting the project to work with latest node versions. That said, I would appreciate someone else taking over the project at some point, as I have moved my projects to use ldapts.

I would also be willing to merge the projects, too. The main differences at this point are:

* The lack of server code in ldapts
* ldapts

[2019-06-25 17:25] wesleytodd commented on #221
We have not finalized all of our WG details on this, but I agree fully with this statement.  We should not directly be taking over projects yet (ever?).  We should focus on being facilitators, as that is a method which we can scale up for the time being.

[2019-06-25 18:43] wesleytodd commented on #187
I think we can add this to list for phase 2 as documented here https://github.com/nodejs/package-maintenance/issues/143

[2019-06-26 12:05] mhdawson opened #226 "Node.js Foundation Package Maintenance Team Meeting 2019-07-01"
## Time

**UTC Mon 01-Jul-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 01-Jul-2019 12:00 (12:00 PM) |
| US / Mountain | Mon 01-Jul-2019 13:00 (01:00 PM) |
| US / Central  | Mon 01-Jul-2019 14:00 (02:00 PM) |
| US / Eastern  | Mon 01-Jul-2019 15:00 (03:00 PM) |
| London        | Mon 01-Jul-2019 20:00 (08:00 PM) |

[2019-06-27 20:42] mhdawson commented on #226
Sorry I'm not going to be able to make this one.  July 1 Canada day so I'll be off on holiday.  @mcollina can you chair/host or even just start the meeting/stream?

[2019-06-27 20:45] mhdawson commented on #225
Would 9 and 2 EST alternating times on Tuesday's be better for people?

[2019-06-28 00:26] ghinks commented on #225
yes, Tuesday is better for me too.

[2019-06-28 06:52] Eomm commented on #225
Do you mean 9 AM EST and 2 PM EST right?

[2019-06-28 08:03] mcollina commented on #226
Unfortunately I won't be able to, it's too late for me.

[2019-06-28 18:35] mhdawson commented on #226
How about we move to the following week.  I'd suggest later in the week but I know that due to the July 4th holiday that would not be good for some of the team members?

[2019-06-28 18:36] mhdawson commented on #225
@Eomm correct I should have added the AM and PM.

[2019-06-29 13:59] ghinks commented on #225
I think the alternation on Tuesdays is a good idea. It give people a chance who have somewhat imposed schedules. Monday's are always super busy for most folks at work.

[2019-06-30 18:14] Eomm commented on #226
It is ok for me to move the 4th and/or next week at the same time

[2019-07-01 07:57] craftninja commented on #226
I'll be traveling on the 4th, but I'm available for next week.

[2019-07-01 18:57] wesleytodd commented on #226
I am fine moving it, but will have less connectivity later this week and the beginning of next week due to the holiday.  Since it would have started in ~5min I am assuming we are moving it?

[2019-07-01 19:09] ljharb commented on #226
Can't make it today either.

[2019-07-01 19:24] wesleytodd commented on #172
👍 Only trivial changes are able to be backported in an automated way.  I am not sure how much automation will be possible here, but would love to see a POC on the idea.

In Express we do the same as @mcollina mentions that Fastify does.  As an example of one backporting effort I am involved in:

https://github.com/expressjs/express/pull/3714
https://github.com/expressjs/express/pull/3218

As you c

[2019-07-01 19:26] wesleytodd commented on #226
Probably doesn't matter at this point, but if anyone else lands here and was wondering, I can safely say this meeting was cancelled.

[2019-07-01 19:26] #226 closed

[2019-07-01 19:41] wesleytodd commented on #179
Hey @BethGriggs, this looks very interesting, sorry I am so late to reply (I was checked out for a few months and am still finding things I didn't catch up on).

It looks like you doing some testing for Express community modules, which is awesome!  I would love it if we could see more about the goals of this project and see how we can align that more with the testing and support strategy the Expre

[2019-07-03 20:55] mhdawson commented on #226
Closing, new issue will be generated for meeting next monday.

[2019-07-03 20:55] mhdawson opened #227 "Node.js Foundation Package Maintenance Team Meeting 2019-07-08"
## Time

**UTC Mon 08-Jul-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 08-Jul-2019 12:00 (12:00 PM) |
| US / Mountain | Mon 08-Jul-2019 13:00 (01:00 PM) |
| US / Central  | Mon 08-Jul-2019 14:00 (02:00 PM) |
| US / Eastern  | Mon 08-Jul-2019 15:00 (03:00 PM) |
| London        | Mon 08-Jul-2019 20:00 (08:00 PM) |

[2019-07-03 21:03] dominykas commented on #227
Slightly offtopic, but where is the template for this? I'd like to include the zoom link the timeanddate.com msg - Google Calendar (all _I_ care about) seems to do the right thing if I modify the URL manually.

[2019-07-04 13:17] mhdawson commented on #227
@dominykas the templates are in here: https://github.com/nodejs/create-node-meeting-artifacts/tree/master/templates

The one for the issue is:  meeting_base_package-maintenance

Now much of the format is done through another package but if you just want to update the Joining instructions that would be the right file.

[2019-07-05 17:57] bnb commented on #189
This can be closed, I assume? 👍

[2019-07-05 18:02] rxmarbles commented on #189
Seems good to me to close it.

[2019-07-05 18:22] #189 closed

[2019-07-08 18:51] mhdawson commented on #227
We should also talk about https://github.com/nodejs/package-maintenance/issues/225

[2019-07-08 19:37] mhdawson commented on #191
PR to land merged, close.

[2019-07-08 19:37] #191 closed

[2019-07-08 19:55] mhdawson commented on #225
From last meeting proposal is

Alternating between 9 AM EST and 3PM EST on TUESDAY (same times but on Tuesdays)

Let us know what you think and we'll look to close on this in the next meeting.

[2019-07-08 21:11] mhdawson commented on #227
PR for minutes: https://github.com/nodejs/package-maintenance/pull/228

[2019-07-08 21:11] #227 closed

[2019-07-09 06:53] SathishGajendran commented on #225
9 AM EST is fine for me.

[2019-07-09 08:11] Eomm commented on #192
Done: https://github.com/nodejs/package-compliant

Invited `nodejs-foundation` to npm also

Now we should update it when we will define the new file format of the support file

[2019-07-09 14:04] ghinks commented on #206
Requests for help were sent to Greenkeeper on June 22nd 2019 and a follow up request has been sent to them on July 9th 2019.

[2019-07-09 21:52] mhdawson commented on #192
@Eomm, thanks !

[2019-07-10 12:06] mhdawson opened #229 "Node.js Foundation Package Maintenance Team Meeting 2019-07-15"
## Time

**UTC Mon 15-Jul-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 15-Jul-2019 06:00 (06:00 AM) |
| US / Mountain | Mon 15-Jul-2019 07:00 (07:00 AM) |
| US / Central  | Mon 15-Jul-2019 08:00 (08:00 AM) |
| US / Eastern  | Mon 15-Jul-2019 09:00 (09:00 AM) |
| London        | Mon 15-Jul-2019 14:00 (02:00 PM) |

[2019-07-12 07:19] ghinks commented on #206
# Greenkeeper

After talks with Greenkeeper they have said that they will at some point have options to opt into node releases but do not wish to give a schedule yet. A sensible middle ground between defaults and optional configuration will be offered. Although we cannot close this item we may keep it opening perhaps under **awaiting future developments**

[2019-07-15 13:43] mhdawson commented on #229
Sorry I somehow missed this meeting time.  Since we just met last week should we try to reschedule or skip until the next one?

[2019-07-15 15:59] jsumners commented on #221
@melloc I created https://github.com/ldapjs . Feel free to transfer the repo(s) there. I can't promise to be able to work on this much more than it is already being worked on, but I can get _some_ movement going. If you need anyone to vouch for me I am certain @mcollina would be willing.

[2019-07-16 04:51] Eomm commented on #229
It's OK skip to the next one for me

[2019-07-16 21:14] mhdawson commented on #229
Ok, going to close and we'll plan to talk at the next regularly scheduled time. If anybody wants us to meet earlier just let me know.

[2019-07-16 21:14] #229 closed

[2019-07-17 10:37] dominykas commented on #205
Travis team page: https://about.travis-ci.com/team/

Not sure whether it's appropriate to tag people that are also on GitHub directly into this issue :)

[2019-07-18 03:21] wesleytodd commented on #225
I have been struggling to make the times, especially the early Monday morning time as that is 6am for me and usually before I am awake to check my calendar for the day.  Tuesday will make it more likely I will remember to wake up 💤

[2019-07-18 03:46] wesleytodd commented on #225
I just noticed that the earlier time overlaps with the new [CPC meeting time](https://github.com/openjs-foundation/cross-project-council/issues/129), and the member overlap is pretty high.  I am not sure if we care to change it, but I just wanted to mention it.

[2019-07-19 13:19] ghinks commented on #164
I am going to go back to the original intent for this issue as raised by @jchip which is advice on which files should be ignored. I will open separate issues for the discussion points
- github repos can be deleted
- final bundle size impact != package size
- tooling
- minimalist vs fully inclusive

these items I summarized above and we shall come back to them but Joel’s initial intent was just to

[2019-07-19 15:18] craftninja commented on #219
@mhdawson should this be closed?

[2019-07-22 21:52] mhdawson commented on #219
@craftninja not sure if we got minutes captured.  @Eomm did you figure that out?

[2019-07-24 12:05] mhdawson opened #232 "Node.js Foundation Package Maintenance Team Meeting 2019-07-29"
## Time

**UTC Mon 29-Jul-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 29-Jul-2019 12:00 (12:00 PM) |
| US / Mountain | Mon 29-Jul-2019 13:00 (01:00 PM) |
| US / Central  | Mon 29-Jul-2019 14:00 (02:00 PM) |
| US / Eastern  | Mon 29-Jul-2019 15:00 (03:00 PM) |
| London        | Mon 29-Jul-2019 20:00 (08:00 PM) |

[2019-07-25 06:30] dominykas commented on #205
Just got a word from Travis that they're changing the default to be the LTS: https://github.com/travis-ci/travis-build/pull/1747 (this ofc means that most packages won't be testing with the next LTS, so there's still work to be done and evangelized).

[2019-07-25 14:27] Eomm opened #233 "Document the current 'top 10' express' issues"
@Eomm, ideally we should document the current 'top 10' in an issue (either here or in the express repo) and have at least a pointer from this repo so that we can actively track what we should encouraging people to help out with.

_Originally posted by @mhdawson in https://github.com/nodejs/package-maintenance/pull/230#issuecomment-512923710_

Reference https://github.com/nodejs/package-maintenance

[2019-07-25 20:06] mhdawson commented on #233
@wesleytodd FYI, once you have the list can you post a link here for the team as an FYI

[2019-07-25 20:13] mhdawson commented on #205
From my reading I think lts/* is only the latest LTS and we were thinking a default for all current LTS releases plus the current release would be what we'd want to be suggesting.

[2019-07-25 20:14] ljharb commented on #205
I believe that would be a massive architectural change for travis to have a default matrix instead of a single default job.

[2019-07-25 20:25] dougwilson commented on #233
Can a top ten item from Express be to help triage new incoming issues? Or can it only be existing, open issues? What about help monitoring our chat rooms and helping answer questions or other similar things?

[2019-07-25 20:31] mhdawson commented on #205
For for the confusion, should have re-read the issue to refresh my memory.  I can see that the default being to test all LTS versions and current could be impractical, but a way that it could be selected easily without having to update it every time a new LTS release comes out would still be useful.  Sounds like the easiest way would still be an option in nvm?

[2019-07-25 20:32] ljharb commented on #205
`lts/*` always live-updates to whatever the latest LTS is based on nodejs.org/dist/index.tab

[2019-07-25 20:38] mhdawson commented on #205
Right so that covers the latest, but we'd want something similar to the previous LTS version as well as there is usually 2 active LTS releases, if not 3.

[2019-07-25 20:55] mhdawson commented on #233
@dougwilson when I talked with @wesleytodd  we had talked about how to identify issues that the team wanted help to triage/answer questions. The key thing we talked about was how to make people comfortable in doing that even if they don't have the level of expertise that the existing Express team has.  The hesitation being that they might get it wrong.  Some kind of signal from the Express team th

[2019-07-25 20:58] ljharb commented on #205
nvm could certainly add `lts/*-2` or something similar, but that still wouldn't make it practical to have travis default to testing more than one node version.

[2019-07-25 21:02] mhdawson commented on #205
But it would make it easier for a maintainer to setup their testing to test all LTS versions and Current once and then not have to update it for each LTS release right?

[2019-07-25 21:15] ljharb commented on #205
If they hardcoded the assumption that there's 2 active LTS lines, then yes.

[2019-07-25 21:21] ljharb commented on #205
Filed https://github.com/nodejs/Release/issues/464 as well, which would be helpful/needed for this.

[2019-07-25 21:54] wesleytodd commented on #233
I have some specific ideas for how this can work which I can go over in our TC meeting.  Mainly I think we can use the existing issue tags and a small bit of automation to look at all the repos and assemble a list.

For initial triage, I thought we could have a list of most recent issues opened across all the repos, and then also use the `discuss` and `question` tags to direct people to where they

[2019-07-26 06:06] dominykas commented on #205
Is that and assumption we should be making though? The list of versions to run is just a key in the `.travis.yaml`. Presumably when the key is missing - some default value is returned from somewhere. That somewhere is hopefully the only place that needs to change? Well, in an ideal world. We shouldn't make this assumption either, of course.

I've asked the support to check if there's a chance they

[2019-07-26 06:12] ljharb commented on #205
@dominykas when you add your first line to travis.yml, your matrix shouldn't go from 4 jobs to 1.

Yep, that's the issue to track!

[2019-07-26 06:20] dominykas commented on #205
That's a question that's probably best answered by some usability testing. But with a smart default you wouldn't need to add such a line, i.e. the line would be left for "advanced" users and can also be tackled by good documentation and UI.

There's also the case to be made for migrating away from`node_js` version list to a `node_js_version_policy` type thing (which would then expand to the `node_

[2019-07-26 06:40] nschonni commented on #205
I would think maybe over here https://travis-ci.community/c/languages/nodejs

[2019-07-26 07:02] SathishGajendran commented on #232
@mhdawson, I wonder to know, why we changed the time that we concluded from **Best Meeting Time for Highest Attendance #225**

[2019-07-26 17:19] wesleytodd commented on #232
@SathishGajendran I made a comment at the end which might effect this decision.  I would for sure say that until we actually settle on an agreement (which maybe should be on this meeting agenda), we don't make changes to the previous time and keep Monday.

[2019-07-27 15:14] #219 closed

[2019-07-29 19:11] craftninja commented on #225
Discussed and agreed to switch over to Tuesday at 9 AM EST and 3 PM EST.

[2019-07-29 20:08] wesleytodd commented on #232
As mentioned at the end of the meeting, we are going to discuss the WG requests for top issues, as well as how we can improve release automation: https://github.com/expressjs/discussions/issues/85

[2019-07-29 20:09] craftninja commented on #164
From meeting: Maybe we give people pros and cons of choices, multiple best practice*s* (plural) - offer different perspectives of different solutions. A blog post and updates to NPM docs? The blog post asks the question, doesn't necessarily provide The Solution. We could outline several use cases and examples for different paths.

[2019-07-29 22:25] mhdawson commented on #225
Meeting times changed in calendar, closing.

[2019-07-29 22:25] #225 closed

[2019-07-30 15:11] mhdawson commented on #232
PR for minutes: https://github.com/nodejs/package-maintenance/pull/235

[2019-07-30 15:11] #232 closed

[2019-07-30 19:35] dominykas opened #236 "Standard grammar/keywords to reference node release lines"
Background:

- The support levels doc has a [support `target` field](https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/Baseline%20practice%20-%20Document%20support%20levels.md#support-target), which references the node version support policy that the package aims to provide (as well as several "unsupported" options)
- As discussed in #205, CI systems would ideally be able to de

[2019-07-30 19:38] ljharb commented on #236
The only ecosystem I really think we need to concern ourselves with is node's - which will always have a package.json or equivalent.

[2019-07-30 19:43] BethGriggs commented on #236
We've been discussing something similar over in https://github.com/nodejs/Release/issues/359

[2019-07-30 20:54] mhdawson commented on #236
I'm always in favor of starting with something in use as opposed to re-inventing the wheel unless we have reasons that mean what's in use is not a good fit.  I'd be in favor of starting with it and then adding:

* abandoned
* none
*

[2019-07-31 16:55] ghinks commented on #164
agreed @craftninja . I am looking at using the gitignore.git from http://github.com/github/gitignore as a base ignore with modifications and adding, as you said a number of options, I am going off grid for 10 days though.

[2019-07-31 18:40] wesleytodd commented on #164
Since you mentioned http://github.com/github/gitignore maybe I can plug this module I maintain.

https://www.npmjs.com/package/create-git

The module uses those gitignore templates and lets you select multiple.  If we want to make a "best practice" for .gitignore in node packages I agree we should PR there, and then I can add it as the default for this package.  This might be the start of the "too

[2019-08-01 20:53] lholmquist commented on #164
agree with the blog post showing the different solutions.  Showing the pros and cons of each solution is a good compromise on the different schools of thought.

while i don't like to compare node modules to maven packages, there is something nice about being able to "go download the source" of a particular package, at least in development

[2019-08-07 12:06] mhdawson opened #237 "Node.js Foundation Package Maintenance Team Meeting 2019-08-13"
## Time

**UTC Tue 13-Aug-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 13-Aug-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 13-Aug-2019 07:00 (07:00 AM) |
| US / Central  | Tue 13-Aug-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 13-Aug-2019 09:00 (09:00 AM) |
| London        | Tue 13-Aug-2019 14:00 (02:00 PM) |

[2019-08-08 18:45] wesleytodd commented on #205
With the new announcement of Gihub CI, we might also want to reach out to them to get the same "default" behavior for node environments we are working on for Travis.  I am not exactly sure how it will work, but it looks like there will be some built in steps you can leverage (from the landing page `- uses: actions/setup-node@master`).  If we can have some say in how these work it would set a good

[2019-08-09 18:33] wesleytodd commented on #205
An issue to track the alias' they will add.  Probably a good place to get our opinions heard: https://github.com/actions/setup-node/issues/26

[2019-08-12 12:52] chrispat commented on #205
@wesleytodd I have not followed this thread in detail but would be curious to understand what recommendations the node community has.  The starter workflow for node.js is  in the [actions/starter-workflows](https://github.com/actions/starter-workflows/blob/master/ci/node.js.yml) repo. We would welcome any pull request for suggestions to improve it.

[2019-08-12 16:18] wesleytodd commented on #205
Hi @chrispat, the main goal is to improve the story around package authors testing their packages in all of the current node versions.  It is very typical for authors to set travis to test the important versions at the time of publishing, but that is quickly out of date.  The PR I made above is just to get users started, but what we really need is an alias.  It sounds like, from the people who com

[2019-08-12 17:23] dominykas commented on #205
@chrispat I will be writing a blog post on what people should be testing in, but in short, I think the recommendation is to _at least_ test in the latest version of the current LTS release lines (currently: 8.16.0 and 10.16.2), but ideally to test in all the actively maintained release lines (currently: 8.16.0, 10.16.2, 12.8.0; in Apr/2019: latest versions of 6.x, 8.x, 10.x, 11.x).

Ideally these

[2019-08-13 07:15] dominykas opened #238 "OpenJS Foundation project progression"
OpenJS Foundation has a [doc on how can projects join it](https://github.com/openjs-foundation/cross-project-council/blob/master/PROJECT_PROGRESSION.md), etc.

This probably has some overlap with what this group is working on (I haven't given it much thought yet, just making sure we start discussions around it).

[2019-08-13 13:21] mhdawson commented on #164
From discussion in the meeting this week, sound like the next steps might be a PR for the guidance and then a blog post to publicize but the guidance might be more around discussing the options versus making a specific recommendation.

[2019-08-13 13:21] ahmadnassri commented on #164
I like the blog post idea, and would support it further in hosting (or cross-posting) it on the official npm blog as a guest post by whoever wants to author it.

[2019-08-13 13:24] ahmadnassri commented on #113
Is there anything npm can provide in the context of data / patterns & behaviours that would help further surface information and insights here?

[2019-08-13 13:34] Emuentes opened #239 "[axios] support opportunity analysis"
It has been noted that responses to proposed changes from the Axios maintainers has been slower than users expect from a package with a similar volume of weekly downloads.

One such observation was noted here:
https://www.reddit.com/r/javascript/comments/cp5qhm/askjs_the_sad_state_of_axios/

We should reach out to them to discuss opportunities for us to positively impact their process flow.

Alter

[2019-08-13 16:18] wesleytodd commented on #238
I have been following that group, and to me it seems like this is a good groundwork for [our phase 3](https://github.com/nodejs/package-maintenance/issues/144).  But maybe we would want to tone it back a bit, because their process is a bit daunting.

[2019-08-13 18:11] mhdawson commented on #164
@jchip will you have time to put together a PR, authoring a blog post?

[2019-08-13 21:52] mhdawson commented on #238
Agree it's good to consider but joining the Foundation is quite a bit bigger ask than "asking for help" so we should be careful on how hard it is.

[2019-08-13 21:54] wesleytodd commented on #238
Completely agree, it is a much more bigger ask.  I didn't mean to downplay that, just that we are going for something different I think.

[2019-08-15 18:23] jchip commented on #164
@mhdawson yes, I can work on it next week (end of summer, which was usually busy for me with kids).

[2019-08-16 17:24] Eomm opened #241 "Future direction support field"
After the publishing of the draft for `support` field in `package.json` and the feedback process form the community, the ideas to extend moreover that field are:

- reference a file via an URL field
-  a separate `package-support.json` file

reference:
https://github.com/nodejs/package-maintenance/pull/220#issuecomment-516475639
https://github.com/nodejs/package-maintenance/pull/220/files#r3109090

[2019-08-16 17:53] Eomm commented on #236
Update the #220 with this mapping:

`abandoned` -> added 🆕
`none` -> added 🆕
`all` -> was `superset`
`lts` -> was `lts`
`active` -> added 🆕
`lts_active` -> added 🆕
`lts_latest` -> was `latest`
`current` -> added 🆕

How we could call also those packages that support EOL node? `all_eol`?

[2019-08-16 18:23] ljharb commented on #236
just “all”? but also, i don’t think that’s really the case for anyone; none of my packages, even, support node < 0.4 :-)

[2019-08-16 18:24] ljharb commented on #241
I’d want a separate file - so it can be immutably stored in package registries - but only if the file can be updated without a full publish, and also read without downloading the full tarball.

[2019-08-16 18:40] mhdawson commented on #236
I think just "all" makes sense to me as well. Since active should cover all that are not EOL.

[2019-08-16 19:13] mhdawson commented on #236
Scratch my last comment as "active" is something different in what we have.

[2019-08-16 19:17] wesleytodd commented on #233
I started getting the tagging going: https://github.com/expressjs/express/pulls?q=is%3Apr+is%3Aopen+label%3A%22Top+Priority%22

More to come soon!

[2019-08-21 12:05] mhdawson opened #242 "Node.js Foundation Package Maintenance Team Meeting 2019-08-27"
## Time

**UTC Tue 27-Aug-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 27-Aug-2019 12:00 (12:00 PM) |
| US / Mountain | Tue 27-Aug-2019 13:00 (01:00 PM) |
| US / Central  | Tue 27-Aug-2019 14:00 (02:00 PM) |
| US / Eastern  | Tue 27-Aug-2019 15:00 (03:00 PM) |
| London        | Tue 27-Aug-2019 20:00 (08:00 PM) |

[2019-08-25 20:36] wesleytodd commented on #192
Hey, so as the PR seemed to be in a good state I went and wrote a [little helper package](https://github.com/pkgjs/support/).  Before I did that I should have looked around here because I would have been reminded of this issue.  So, now there are two implementations :)

My question is, how do we want to move forward?  I have a few concerns with "node owned packages". This is basically becomes a "b

[2019-08-26 03:02] wesleytodd commented on #233
So this is still a WIP, but I just pushed some changes which make this mostly usable.

https://expressjs.github.io/statusboard

<img width="1914" alt="Screen Shot 2019-08-25 at 7 41 32 PM" src="https://user-images.githubusercontent.com/1027776/63662361-0e80cf80-c773-11e9-90ac-03189d370fc2.png">
<img width="1913" alt="Screen Shot 2019-08-25 at 7 41 43 PM" src="https://user-images.githubusercontent.

[2019-08-26 13:51] mhdawson commented on #242
We should also get @wesleytodd to take us through https://github.com/nodejs/package-maintenance/issues/233#issuecomment-524698030

[2019-08-27 17:03] wesleytodd opened #244 "CI Publish with Two-Factor Auth for Teams"
All package publishes should be done with 2FA enabled. This requirements means that publishing from CI is difficult because it requires the CI to have a OTP from the user.  In order to maintain the 2FA you need some third party setup (a api to orchestrate the 2FA).  @dominykas and the team at Near Form have done some exploratory work on this with [Optic](https://github.com/nearform/optic/).  This

[2019-08-27 19:27] Emuentes opened #245 "Bot to Auto-Close ExpressJS issues"
Per this ticket, let's select and implement a bot to auto-close issues in the ExpressJS repos
https://github.com/expressjs/discussions/issues/90

[2019-08-28 18:30] mhdawson opened #248 "Blog post to get broader feedback on Support info for packages"
Write blog that will

* Set the context/background for the issue being addressed.
* Identify and explain the contentious discussion points and how we've come to what is currently in the document.
* Highlight what's in the info, and ask people to give feedback that we can use to refine before we move it out of draft.

@darcyclarke, @mhdawson, @Eomm, @ghinks volunteered to write the first cut of the

[2019-08-28 19:25] Eomm commented on #237
Closed in https://github.com/nodejs/package-maintenance/pull/240

[2019-08-28 19:25] #237 closed

[2019-08-28 19:38] Eomm opened #249 "Labels"
Hi,
may I create some GH labels to organize a bit the issues?

I would like to create:

* `article`: issues related to blog post or other types of news where the target is spread this WG/work
* `tools`: issues related to tools to implement or implemented by this WG
* `vendor`: issues related to tools already in place that support a broad set of feature (ex: travis, npm, greenkeeper, etc..)
* `pilo

[2019-08-28 20:06] Eomm commented on #248
I would add also:
* SUPPORT.md vs `json` file

This TOC seems ok to me.
I don't know only if it is worth to add some use cases as a reference to start

[2019-08-28 20:10] Eomm commented on #241
The problem is that npm let you download only the package.json (in two sizes, one minimal with less information, and one with all the metadata).
If you want something else you need to download the tarball

[2019-08-28 20:51] Eomm commented on #192
I think we should focus on one tool right now 😃
I'm ok to work with yours as well and maybe creating an org as you do could collect many different initiatives (like this one https://github.com/nodejs/package-maintenance/issues/216 or [this one](https://github.com/Eomm/package-badge) ...etc...) and a faster create-publish-fail, create-publish-fail, create-publish-success that maybe we can't do in t

[2019-08-28 21:41] Eomm commented on #244
I think 2FA it is a matter of security where you have doubled the things a thief must steal.
So if you maintain these two things separated you could think to avoid the "dead man's switch".
Anyway, I like to have control of the publish, but maybe I push the publish button not so often.

[fun note] I built up some workarounds for this purpose with a bunch of server in different countries a many fire

[2019-08-29 04:19] ljharb commented on #241
Right - that’s the reason why, until npm adds a feature or two, package.json is the only place it should go.

[2019-08-29 18:25] wesleytodd commented on #192
Agreed, there is some commitment required in putting it into the node org.  I think we could also start outside the org and if we finalize something we can move it back in.

I figured as much after reading it, sorry if that felt like calling it out :)

This is the nice thing about using a scope, you can pick any name which makes sense!

#192 (comment) but now I think I have twisted the versioning.

[2019-08-29 19:30] Emuentes commented on #249
+1

[2019-08-29 21:07] mhdawson commented on #244
@darcyclarke @ahmadnassri, has there been any discussion within npm on this topic that you could share?

[2019-08-30 00:13] wesleytodd commented on #244
I heard on the twitters that some sort of staged release was on the roadmap at one point 🤞

[2019-08-30 00:18] wesleytodd commented on #249
`top priority` & `good first issue`?

Those are both ones which we are going to start using on express and other places, as well as those being what I have as the [defaults in the status board](https://github.com/pkgjs/statusboard/blob/master/lib/config.js#L22).

[2019-08-30 01:34] ljharb commented on #249
I also like “pull request wanted” to indicate that a PR for this issue is welcome (which isn’t always the case)

[2019-08-30 06:26] Eomm commented on #249
Done: https://github.com/nodejs/package-maintenance/issues/labels

Checkout if is ok
I will close this issue lately the weekend after the labelling of the issue list 👍

[2019-08-30 19:47] mhdawson commented on #249
@Eomm thanks !

[2019-08-30 19:58] pi0 commented on #245
Is this topic **only** limited to express ecosystem?

Things I would like to suggest discuss first if we planning to have more generally and vision/reasons for implementing a new one:

- Baseline requirements
- Currently available solutions and bots
- Recommended strategies for issue closing/locking

[2019-08-30 20:28] wesleytodd commented on #245
Nope!  This is a very general problem.  I think this ticket was mostly to document that we are working on doing this for Express.  I think we can report back on the solution and then set it in the documents like you mention.

For Express we have defined some very specific behavior we would like.  To that end I started work last night on an GH Action to do this for us.  You can see my very slim sta

[2019-08-30 23:22] wesleytodd commented on #248
https://blog.npmjs.org/post/187382017885/supporting-open-source-maintainers

Hey @darcyclarke & @ahmadnassri, is this something which we should be considering in relation to this effort?  Can you provide us with more details so we can make sure there is alignment that this proposal will be able to work with your new effort?

[2019-08-30 23:30] ljharb commented on #245
Express may do what it likes of course, but my experience with other projects use of bots for this tells me that an issue should never be closed except by a human, ideally with an explanation, or else it feels like a hostile action.

[2019-08-30 23:40] wesleytodd commented on #245
This is very much what we did not like about existing solutions.  So the idea for the closing will be that it posts a message before closing which is nice.  Nice in that it tells the user why and what they can do to repopen.  It will also not arbitrarily close them, but will only do so for certain types of issues.  For example, if there is a `discuss` tag, or a `good first issue` tag it would neve

[2019-08-31 09:00] Eomm commented on #245
Do you already know about [stale bot](https://github.com/apps/stale)?
Which features is it missing about auto-close?

Looking at the code I see an auto-label feature right?

[2019-08-31 09:28] Eomm commented on #236
Watched [the meeting](https://www.youtube.com/watch?v=MBqDK5icH8c) from 22:00

we should mainly:

- clarify the difference between `all` and `maintained`
- lts_active could have 6 months overlap

The nice idea is to see those tags in the download page of the site

[2019-08-31 09:31] Eomm commented on #224
Isn't this issue a duplicate of https://github.com/nodejs/package-maintenance/issues/248 ?

[2019-08-31 09:35] Eomm commented on #223
This issue is related to the tools we are building [here](https://github.com/pkgjs/support/)

[2019-08-31 09:37] Eomm commented on #216
This is related to the #245 since we are talking about triage

[2019-08-31 09:39] Eomm commented on #215
The labelling could be done via a bot.
We can join the implementation [here](https://github.com/pkgjs/triagebot)

[2019-08-31 09:46] Eomm commented on #214
We are always talking about how users can support a package, but here we want to reverse the situation and let the maintainers find the users.

The idea here is to create a tool that lists the users by stars and forks (desc) looking the "used by" function in GH, so maintainer can ask support to the top 10 users.

@wesleytodd WDYT?

[2019-08-31 10:17] Eomm commented on #4
I think this is related to #214 tool

I would close this issue since it has accomplished its duty 👍

[2019-08-31 10:47] Eomm commented on #142
I would close the issue since the pilot packages have been selected

I don't know if we could ask to join in the #221 #239

[2019-08-31 11:59] Eomm commented on #6
This has been addressed in #220

Closing
Feel free to reopen if we miss some point

[2019-08-31 11:59] #6 closed

[2019-08-31 13:33] Eomm commented on #159
I think the discussion could go ahead if we explore the possibilities (like in the #206 ) and define an output like blogpost or draft doc here

[2019-08-31 13:39] Eomm commented on #155
@ahmadnassri would you like to share your thought to start the discussion?

[2019-08-31 13:53] ghinks commented on #248
@Eomm are we intending to write this as a markdown file via PR?

[2019-08-31 14:48] Eomm commented on #93
Closing since it is landed with #150
Feel free to reopen if we miss some info

[2019-08-31 14:48] #93 closed

[2019-08-31 14:55] Eomm commented on #5
Maybe someone could create an awesome list and we could say to users:

?

[2019-08-31 15:03] Eomm commented on #59
is this the same service implemented by [issuehunt](https://issuehunt.io/)?

[2019-08-31 15:16] ghinks commented on #248
Should we be mentioning the work/collaboration we are having with @wesleytodd and express in this blog post. I think practical examples are helpful.

[2019-08-31 15:21] Eomm commented on #248
I think we could submit a PR to a fork so we can work on that without annoying others with our draft, and when we have finished we could send a PR here (maybe in a `/blog` folder)
Of course, if you think it is better to open a PR to this repo, I agree with that also.

Sure, I remember some creepy stories about emails sent to maintainers with the subject "please fix this issue otherwise I will be f

[2019-08-31 15:29] ghinks commented on #248
ok, I'm making a start on this and I shall push it my fork this evening.

[2019-08-31 15:30] ghinks commented on #248
https://github.com/ghinks/package-maintenance/invitations

[2019-08-31 17:47] ghinks commented on #248
I could do with a bit of brain storming on this section

# Overview of key elements
- target
- response
- backing

[2019-09-01 18:07] wesleytodd commented on #248
I posted my (comment above)[https://github.com/nodejs/package-maintenance/issues/248#issuecomment-526776677] because I am worried about us publishing a blog post without their input.  I don't want to get in the way of getting it written, but if we publish a post, and npm is going to go and implement something different, we have a problem.

@darcyclarke or @ahmadnassri, any input on this direction

[2019-09-01 18:30] wesleytodd commented on #245
Yes I already knew about stale bot.  There is a corresponding one built on top of new github actions as well.  Neither implement the thing we talked about in the TC meeting.  What you see in the code linked is the very beginning, What I planned was to start a scaffold showing a bit, but then open it up for express to start building all our custom triage requirements.  The base code there will just

[2019-09-01 18:38] wesleytodd commented on #142
Do we feel that the pilot packages issues have been addressed?  I know we have a lot of things in the works, but it seems to me that unless we think we are ready to move onto the next phase we should keep this open.

IMO, the goal of the pilots are to get some actual working tests for the ideas we have.  From express, we are only just now starting to implement the stuff we have talked about, and h

[2019-09-01 18:42] wesleytodd commented on #159
I must have missed this issue when it was first opened, but we could also make some recommendations on handling reports best practice.  Here is a link to the reporting procedure for express: https://github.com/expressjs/express/blob/master/Security.md

Maybe we could draft a standard reporting `SECURITY.md` document for projects to copy/paste?

[2019-09-02 08:39] MarcinHoppe commented on #159
Is this something that the @nodejs/security-wg could help with?

[2019-09-02 11:37] ghinks commented on #248
agreed, I have started writing something as it is easier once we have a starting point. All input welcome. I think it would be good if we had something substantive before the next meeting if only to have something to critique. I am also sensitive to the **case study** section where I would like to say that **express** is our candidate first time trial.

[2019-09-02 14:42] mcollina commented on #214
This would be amazing actually.

[2019-09-02 18:30] wesleytodd commented on #214
Yeah really cool idea.  I think we could look at "used by" on github, but also on the registry data.

[2019-09-02 21:44] Eomm commented on #142
It is true, I thought the target for this issue was to find the pilot packages.
We can keep it open to collect the results also for sure 👍

[2019-09-04 12:06] mhdawson opened #252 "Node.js Foundation Package Maintenance Team Meeting 2019-09-10"
## Time

**UTC Tue 10-Sep-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 10-Sep-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 10-Sep-2019 07:00 (07:00 AM) |
| US / Central  | Tue 10-Sep-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 10-Sep-2019 09:00 (09:00 AM) |
| London        | Tue 10-Sep-2019 14:00 (02:00 PM) |

[2019-09-04 19:13] craftninja commented on #252
I’m out in the backcountry for 2 weeks, see you after the 17th 🎣⛺️🇲🇳

On Wed, Sep 4, 2019 at 5:06 AM Michael Dawson <notifications@github.com>
wrote:

--
Kindly,
Emily

++++++++++++++++
@emilyplatzer <https://twitter.com/EmilyPlatzer>
www.emilyplatzer.com
github.com/craftninja

[2019-09-04 20:00] rxmarbles commented on #252
I won't be able to attend this meeting. Look forward to seeing what progress is made 😄

[2019-09-05 21:45] mhdawson commented on #142
+1 to keeping it open.  We are starting to make some progress  but I'd agree there is more work before we can consider this part complete.

[2019-09-05 21:48] mhdawson commented on #214
It would be an interesting thing to explore. The tool to figure out the top users would be useful in an number of ways.  The second part of how to approach those users, what kinds of help to ask for etc. would be interesting to work through as well.

[2019-09-05 21:55] mhdawson commented on #248
I think the blog post was going to be centered around getting feedback on the support info we propose adding to package.json (or elsewhere). This has some good content but seems much more general?

[2019-09-05 21:57] mhdawson commented on #248
@ghinks

Is in relation to https://github.com/ghinks/package-maintenance/blob/feature/blog-post-soliciting-broader-feedback/docs/drafts/blogs/broader-feedback.md

[2019-09-05 21:58] mhdawson commented on #248
I do think a more general one might be good a bit later as well, but would like to make a bit more progress with the express project first.

[2019-09-05 21:59] mhdawson commented on #248
I will try to take a cut at writing some starting text for that early next week.

[2019-09-05 22:00] mhdawson commented on #236
@Eomm do you want to submit a PR do the doc to address those 2 comments or would you like me to?

[2019-09-05 22:06] mhdawson commented on #159
@MarcinHoppe help from the @nodejs/security-wg would be great. Any chance you are volunteering to help lead it?

[2019-09-06 05:56] kemitchell commented on #241
@ljharb, thanks for pointing me here from https://github.com/npm/cli/pull/187. I hope folks don't mind a few stray thoughts and up-to-speed questions.

I think it's safe to say that a great many package consumers rely heavily on URL-based pointers from `package.json` files already. Specifically, once we know that `repository` has a GitHub or BitBucket URL, we know that's our best bet for up-to-dat

[2019-09-06 19:50] mhdawson commented on #248
Overview of key elements

The new support level information that we are recommending has 3 main dimensions:

* target: the platform versions that the package maintainer aims to support.
* response: how quickly the maintainer chooses to, or is able to, respond to issues and
   contacts for that level of support
* backing: how the project is supported

The goal is to allow the package maintainers to

[2019-09-06 19:54] mhdawson commented on #248
@ghinks let me know what you think of that ^^^

[2019-09-06 20:57] wesleytodd commented on #241
The more input and questions the better!

You make a good point, but I would also like to add the counter argument that many package links are broken.  I often click github links which have are a 404, I am sure the other cases are similar.  I don't say this as a blocker to the idea, just that it is not a perfect solution.

Yes this is IMO one of the main goals of this proposal.  If we have structu

[2019-09-07 08:48] Eomm commented on #241
For tracking: the discussion in https://github.com/npm/cli/pull/246 is continuing with a wide feedback from Isaacs

[2019-09-07 08:56] Eomm commented on #236
I will open it 💪

[2019-09-07 17:31] wesleytodd commented on #241
Also, if anyone here wants to chime in there and provide different viewpoints than the one I am expressing, it would be helpful :)

[2019-09-08 10:42] MarcinHoppe commented on #159
@mhdawson Yes, I think I can help. What is the best way for me to understand the problem we are trying to address here?

[2019-09-08 10:46] ghinks commented on #248
Many thanks @mhdawson this is the sort of feedback and additional commentary I was looking for.

[2019-09-08 11:30] ghinks commented on #248
I also think we should place the **overview of key elements** before the contentious issues section too.

[2019-09-09 20:20] Eomm commented on #159
@MarcinHoppe our target is to write a guideline that helps the community to adopt good practices.
This will improve the overall quality and security of the modules in order to let the ecosystem grows in a heltier way possible.

This is an example for the [ci/cd](https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/ci-cd-guidelines.md) world.

[2019-09-09 21:46] MarcinHoppe commented on #159
Thanks, this helps a lot.

Just to explore a bit of background here: is there a consensus on whether we should require package maintainers to triage the reports themselves or do we want to lean on the Node.js Ecosystem disclosure and bug bounty program we are running on HackerOne?

[2019-09-09 22:28] wesleytodd commented on #159
IMO we probably need to take two approaches to this.  Some maintainers will probably not want to rely on the Node.js process as it is more involved.

I know for Express we use the HackerOne system, but also take reports directly.  I think if we could just do HackerOne we might, but it has never been clear on how we get to that eaisly.  If it was really easy to onboard and get involved in, then jus

[2019-09-09 22:31] mhdawson commented on #252
We should also try to discuss https://github.com/nodejs/package-maintenance/issues/248

[2019-09-10 12:39] lholmquist commented on #252
not going to be able to attend,  i'll catch up with the live stream

[2019-09-10 13:40] mhdawson commented on #252
PR for minutes: https://github.com/nodejs/package-maintenance/pull/256

[2019-09-10 13:40] #252 closed

[2019-09-10 15:08] MarcinHoppe commented on #159
My personal take on this is that we should leave the choice with the maintainers. So if they have the capacity to respond to security vulnerabilities and handle advisories themselves, great. If not, we can offer an way to opt-in to the Node.js Ecosystem program on HackerOne.

Does this sound like a reasonable strategy? If it is, I can start drafting the guidelines.

[2019-09-10 16:20] wesleytodd commented on #159
This sounds great to me!  The goal is to provide value while reducing work/friction, so this approach seems great to me!  Thanks @MarcinHoppe!!

[2019-09-10 16:37] sam-github commented on #159
@wesleytodd Quick note: the express policy points to https://nodesecurity.io/report which doesn't exist anymore, it just redirects to the top page of https://www.npmjs.com/

@MarcinHoppe You can't really opt-out of H1. People who find vulns can report them to npm, H1, snyk... anwhere they want, and a package will have to deal with them when they find out (or not, I guess that's an option).

What t

[2019-09-10 18:16] wesleytodd commented on #159
Thanks for the call out!  Does anyone know the correct url?  Or is there no-longer a place to send people to submit reports?

This is actually the problem I am worried about.  We have gotten bitten by reports coming via the new platform of the week", and expecting maintainers to know how to respond or resolve issues from all the different platforms is just a broken system.

[2019-09-10 22:46] MarcinHoppe commented on #159
@sam-github

This is exactly what I am going to include in the guidance.

@wesleytodd

From a perspective of person triaging reports on HackerOne: a clear protocol to reach the maintainers and not do detective work of extracing e-mails from `git log` should actually prevent the "new platform of the week effect". Whoever gets the report, will likely use the advertised channel to reach out.

[2019-09-10 23:17] mhdawson commented on #241
The --local option is interesting, although my first thought is that if I was using the tool to verify support levels for the packages I'm going to deploy I would want to ensure I have the latest info.  Having said that the info can change immediately after I check it so not having fully up to date info must be ok in some situations as well.

[2019-09-11 04:04] wesleytodd commented on #241
I am not sure we can get around this, we are just in a world of imperfect information.  But anything is better than what we have today.  With tooling at least we can monitor and check for changes over time.

[2019-09-11 04:09] wesleytodd commented on #159
I am not yet convinces 😉.  Express has had "Report security bugs by emailing the lead maintainer in the Readme.md file." in the `security.md` since 2016, and I have seen this happen multiple times, to great pain on the part of Doug (the lead maintainer).

But I am hopeful we can find a good path forward, and I think more standardization will help in the long run.

[2019-09-11 17:57] sam-github commented on #159
@wesleytodd I don't understand your last comment.

You say "not yet convinced", but then go on to agree with the statement you quoted, namely, that projects that state how they want to get contacted, get contacted that way. This is also what @MarcinHoppe is saying, that its painful to use git log, or other techniques to try to figure out who to contact. Its better for projects to state it clearly,

[2019-09-11 18:13] wesleytodd commented on #159
Sorry If my comment did not make this clear.  We do not get contacted that way, almost ever.  We get public issues opened.  We get invalid reports opened on random websites we don't know about, then get users reporting that their builds are failing because they use that service's audit.  I think we one time got an invalid report via the stated reporting flow.  Every other report in 3 years has bee

[2019-09-11 19:22] mhdawson commented on #241
+1

[2019-09-13 21:20] Eomm commented on #241
Adding this to the agenda since the feedback from npm has a great impact on how to continue in this issue, in order to don't create confusion in the community of course

Ref: https://github.com/nodejs/package-maintenance/issues/241#issuecomment-529088119

[2019-09-13 21:30] Eomm commented on #249
Done page 2

Feel free to adjust the labels if you don't agree in some association

[2019-09-13 21:30] #249 closed

[2019-09-14 15:16] ghinks commented on #248
@Eomm @mhdawson sorry to have missed the last meeting.  I have just got the video. I think we may need to get together to articulate the direction of this article. I did start very broad. My feelings are that the wider community do not know what we are up too and we would have to make some broad references to the greater goal. But I agree it is currently not refined to the point. I would like to s

[2019-09-15 11:32] Eomm commented on #248
Yes, because right now I think we should speak more about the target instead of the results (like `support` field).
I say that because of this feedback https://github.com/npm/cli/pull/246#issuecomment-529077834 and we risk to write down an article that could be incompatible with the new npm features.

[2019-09-15 11:43] Eomm commented on #214
The GH api to get the "used by" seems in dev-mode:
https://developer.github.com/v4/object/dependencygraphdependencyconnection/

[2019-09-15 11:46] Eomm commented on #215
I'm writing down the tool that will add (templating) files and open the PR to the origin repo.
The tool will be extensible in order to let the community build all these kind of automation

[2019-09-16 07:27] MarcinHoppe commented on #159
We can at least give vulnerability reporters a chance of making life a little bit easier on maintainers!

[2019-09-16 14:47] phawxby commented on #187
@ronag what did you replace it with? We're suffering the same thing.

[2019-09-16 14:55] ronag commented on #187
@phawxby we use the native keepalive agent.

[2019-09-16 15:04] phawxby commented on #187
Thanks. I'll give that a go and hope Azure doesn't explode.

[2019-09-16 15:05] tony-gutierrez commented on #187
Agentkeepalive has a ttl for the socket from the moment of creation. This is useful because a lot of Microsoft servers close sockets after 2 minutes (despite reuse, keep alive, etc. No socket can ever live more than 2 min). The native agent does not have this kind of ttl.

[2019-09-18 12:05] mhdawson opened #259 "Node.js Foundation Package Maintenance Team Meeting 2019-09-24"
## Time

**UTC Tue 24-Sep-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 24-Sep-2019 12:00 (12:00 PM) |
| US / Mountain | Tue 24-Sep-2019 13:00 (01:00 PM) |
| US / Central  | Tue 24-Sep-2019 14:00 (02:00 PM) |
| US / Eastern  | Tue 24-Sep-2019 15:00 (03:00 PM) |
| London        | Tue 24-Sep-2019 20:00 (08:00 PM) |

[2019-09-18 13:24] Trott commented on #259
Not sure if this fits in with the package-maintenance team's goals/charter/whatever, but assistance getting things aligned in the ecosystem and Node.js 13.0.0 such that we minimize the pain of any Node.js breaking changes for end users would be 💯. Specifically, it would be great if we could get rid of as many [CITGM issues](https://github.com/nodejs/node/pull/29504#issuecomment-532445952) there as

[2019-09-18 15:46] wesleytodd commented on #259
@Trott Making this easier for maintainers in general is within this groups charter (even if specific upgrades might not be something we are equipped to handle yet).  Are there specific things you think we could help with?  Also, this might warrant a separate issue so we can discuss and then add to this meeting agenda if there is more to talk about.

[2019-09-18 18:03] MarcinHoppe commented on #159
Now that GitHub offers security policies and advisories, I think that might be a very sensible default for the majority of projects.

A `SECURITY.md` file could be a fallback option for projects hosted outside of GitHub.

[2019-09-18 18:15] ljharb commented on #159
Every repo now has a /security/policy link, which is populated by the repo or the org’s .github repo’s SECURITY.md file. I think we should strongly encourage people to visit that link for a given repo, and then strongly encourage maintainers to populate it by whatever means github supports.

[2019-09-18 18:19] lholmquist commented on #159
TIL that there is a security tab in github.

[2019-09-18 19:31] wesleytodd commented on #159
I am pretty sure the advisories and policy parts are brand new.  The security tab has been there, but it was mostly these dumb and inaccurate alerts.  I think every library I support has been flagged because mocha depends on lodash, and utility libraries like lodash have voulns reported on single methods (which probably are not even used in the libraries which import them) all the time.  These hav

[2019-09-18 20:19] dominykas commented on #144
Another related doc: https://github.com/openjs-foundation/cross-project-council/blob/master/PROJECT_PROGRESSION.md

[2019-09-18 20:22] dominykas commented on #238
Looks like we don't have a doc ready where it would make sense to include this information (the closest is [https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/DEPRECATE-GUIDELINES.md](deprecate guidelines), but deprecating is probably the opposite of joining a foundation...), but we do have some related issues:

* https://github.com/nodejs/package-maintenance/issues/155
* https:

[2019-09-18 20:23] #238 closed

[2019-09-18 20:23] dominykas commented on #155
Just noting this down, to not forget - the doc should probably include https://github.com/openjs-foundation/cross-project-council/blob/master/PROJECT_PROGRESSION.md as an option.

[2019-09-18 20:31] dominykas commented on #206
@ghinks I'm working on #204 and would like to include dependabot information as well - I'm happy to go test it out myself, although if you can share more details/links to docs/tests that you did - I could just include that?

[2019-09-18 23:48] Trott commented on #259
I had contributing fixes in mind, but if that's not in scope, then maybe nothing much comes to mind. Perhaps just getting the word out to folks who might contribute fixes, but that can be some effort. Perhaps coordinating with @nodejs/mentorship to see if maybe this is something mentors/mentees can look at? Or @nodejs/code-and-learn?

[2019-09-20 15:45] ghinks commented on #206
Thank you, I'll follow up on [#204](https://github.com/nodejs/package-maintenance/issues/204)

[2019-09-20 15:51] ghinks commented on #204
from the work I have conducted myself on the three options that seem to be available
- renovate
- greenkeeper
- dependabot

I only think that renovate met with the criterion we were discussing at the time.

Just as an individual I experimented with renovate and found that the basic setup with

[code]

lts_latest and current worked as described.

( [here](https://github.com/ghinks/epl-ml-mono-repo/

[2019-09-23 20:22] dominykas commented on #259
Added https://github.com/nodejs/package-maintenance/issues/244 to agenda, because its something I intend to look deeper into over the next month or so.

[2019-09-24 18:20] lholmquist commented on #259
looks like i'm going to miss this one,  i'll catch up on the recording :-1:

[2019-09-24 18:54] craftninja commented on #259
@mhdawson FWIW - I love the emoji respond section for attendance! I just noticed it now...

I will be missing this one but will catch up later today.

[2019-09-24 19:15] Emuentes commented on #241
In our meeting today, we discussed the possibility of leaving BOTH options open, allow people to choose whether they want to drop a link or a valid JSON property within the package.json

Is there a reason we absolutely MUST pick one or the other before sharing our recommendation for the general structure of the support property?

[2019-09-24 19:22] mhdawson commented on #236
Michael also needs to do PR for this: https://github.com/nodejs/Release/issues/359

[2019-09-24 20:07] dominykas commented on #244
@dominykas to write up things we can do with and without npm's involvement.

[2019-09-24 20:14] dominykas opened #261 "[key packages] Addressing Node.js CITGM failures"
This was brought up in [the 2019-09-24 meeting issue](https://github.com/nodejs/package-maintenance/issues/259) by @Trott:

We didn't really get a chance to discuss this during the meeting, so creating a separate issue for this:

- What can we as part of this group do to help out on v13 and future releases?
- How can package maintainers get involved?

[2019-09-24 20:15] dominykas commented on #261
Some ideas on how to get contributions with fixes: https://github.com/nodejs/package-maintenance/issues/259#issuecomment-532908712

[2019-09-24 20:36] mhdawson commented on #259
PR for minutes: https://github.com/nodejs/package-maintenance/pull/262

[2019-09-24 20:36] #259 closed

[2019-09-25 01:41] darcyclarke commented on #244
@mhdawson @wesleytodd Apologize for the delayed response here.

I'll see if I can't address a few of the points made in the initial issue:
1. >publishing from CI is difficult
  - Understandable & unfortunate; I wish we had a better story around this today.
2. >*[paraphrased scenario]* npm builds a release manager which supports 2FA
  - I poked around internally and, unfortunately, it doesn't sound

[2019-09-25 03:05] ljharb commented on #241
Yes, I remain opposed to allowing anything that's not inline, until such time as npm allows updating of metadata without a version bump.

[2019-09-25 12:43] lholmquist commented on #241
This is probably a discussion for another thread,  but i feel like if that happens, then that is breaking the contract of that particular version, even if it is metadata and doesn't affect the functionality of what the code does.   Sorry for the noise, but just wanted to get this thought out there

[2019-09-25 12:47] lholmquist commented on #244
I think this is a solid approach.  It is similar to the concpet of  a ServiceAccount in the Openshift/Kubernetes world

[2019-09-25 14:31] ljharb commented on #241
This would have to be metadata separate from the version tarball.

[2019-09-25 20:42] Eomm commented on #261
As we are suggesting to test against the LTS versions, we could suggest a setup to run the tests against the new node version that triggers warning and don't block the CI pipeline

[2019-09-25 21:00] dominykas commented on #261
Running against, essentially, nightlies is likely too much of a budern and could produce too much noise - not sure I'd recommend that to package maintainers. But there is a need to better surface these failures when the need arises.

I think I need to learn more about existing CITGM processes :)

[2019-09-25 21:07] bnb commented on #244
@darcyclarke For what it's worth, most maintainers I've talked to have very consistently asserted that the reason they don't enable 2FA on publish is because the lack of a mechanism to actually publish following the current best practices that _enables_ them to manually publish _outside_ of having to run `npm publish` locally.

Unfortunately, until there's actually a mechanism to securely publish

[2019-09-25 21:13] MarshallOfSound commented on #244
Hey @darcyclarke

So fun story, over at @electron we've already built one of these, and been using it for a long time now.  All of the npm packages that @electron publish are published using 2FA and using a system we built called CFA (Continuous Factor Authentication, I know, I suck at naming things).

One quick thing, it is still true 2FA - Only humans have the 2FA generator

We're currently in t

[2019-09-25 22:25] wesleytodd commented on #236
So I wrote this the other night: https://github.com/wesleytodd/node-matrix/blob/master/versions.js

It implements the aliases discussed here (and in the support doc) and will return the current node versions for the given aliases.  The repo it is in was me experimenting with an action which would automagically update a test matrix.  The same approach could apply to a travis config.  I was wonderin

[2019-09-26 01:20] Trott commented on #261
CITGM is run against proposed breaking changes in the Node.js master branch. Ideally, CITGM against master branch should always be green. (If a breaking change is going to break a package in CITGM, the package should be updated first before the breaking change lands. At least, that's my opinion!)

However, as of now, there are packages that are broken against the master branch. I would like those

[2019-09-26 10:24] ghinks commented on #241
# Financial Technology (FinTech)

On the lines of the

- reference a file via an URL field
-  a separate `package-support.json` file

there was a discussion that I participated in at the package maintenance meeting of the 24th Sept which I was asked to document. I am going to call this the **behind the firewall** issue.

Most FinTech financials that operate within our community do so in a secure e

[2019-09-26 10:36] ghinks commented on #248
I would like to propose that @Eomm @ghinks * @mhdawson  meet together as suggested at the [meeting of the 24th](https://github.com/nodejs/package-maintenance/blob/master/meetings/2019-09-24.md) in order to discuss the blog to get broader feedback on Support for Packages.

I started off with a [general introduction to package maintenance](https://github.com/ghinks/package-maintenance/blob/feature/b

[2019-09-26 17:10] kemitchell commented on #241
@ghinks what you say is true of large financial institutions---and not just financial technology companies---in my experience. But I don't think it's on the rest of the economy to design around their choice to secede from the Internet.

[2019-09-28 13:25] ghinks commented on #241
Indeed @kemitchell it is not and we should not pander to any particular sector of our users to the detriment of the wider community. It is however just another useful piece of the moziac :)

[2019-09-30 14:59] bnb commented on #236
Heh, I came to this issue to ask if the Package Maintenance WG would be willing to maintain a module for this – regardless of whether the output is static JSON (something like [node-releases](https://www.npmjs.com/package/node-releases) or if it was actually a dynamic resolution tool (or both).

I would really love to see us pull in `nv` or some variant as a Package Maintenance WG supported module

[2019-09-30 16:30] wesleytodd opened #263 "WG Suppoprted Packages/Tools"
This has come up a few times, so I figured it is the right time to raise a separate issue (#192 & #236).

How do we want to maintain our own recommended solutions?  Do we want "WG supported packages"? Do we just want them in the nodejs org on github? Are we alright just letting them live under the person who wrote the best (sadly often first mover biased) solution?

I setup a GH Org and registered

[2019-09-30 18:49] Emuentes commented on #224
@Eomm My understanding, during the meeting where this ticket was created, was that there was the blog post from #248 to cover the general idea of the Support Levels property and how our group came to the conclusions we did.

This ticket is for a blog post after changes are made to our implementation based on any feedback from the discussion on the previous blog post. This blog post would be about

[2019-10-01 14:02] ghinks commented on #248
As I have not had a response yet we may have to re-schedule this for another time. @mhdawson @Eomm

[2019-10-01 16:34] Eomm commented on #248
What about 9 or 10 October?
3PM EST ( 9PM Italy ) would be ok for me 👍

[2019-10-01 16:35] Eomm commented on #224
Thanks for the clarification 👍

[2019-10-01 17:06] Eomm commented on #263
I think the easy way is to update the list of tools in [onboarding-tools.md](https://github.com/nodejs/package-maintenance/blob/master/docs/onboarding-tools.md) and add a disclaimer to contribute to the `pkgjs` org to grew up the tools faster.
But we should update also our `CONTRIBUTING.md` and find a balance because the issues here are the permissions to work on code (merge, publish and so on) th

[2019-10-02 12:06] mhdawson opened #264 "Node.js Foundation Package Maintenance Team Meeting 2019-10-08"
## Time

**UTC Tue 08-Oct-2019 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 08-Oct-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 08-Oct-2019 07:00 (07:00 AM) |
| US / Central  | Tue 08-Oct-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 08-Oct-2019 09:00 (09:00 AM) |
| London        | Tue 08-Oct-2019 14:00 (02:00 PM) |

[2019-10-02 21:09] dominykas commented on #206
Just found a note to self to look in here - is there anything left to be done specifically for this issue?

[2019-10-02 21:52] ghinks commented on #248
I think the 10th works for me at this time. Thank you.

[2019-10-04 17:06] darcyclarke commented on #244
@bnb I'm not sure I know what "current best practices" refers to; Also, I'd love if you could connect me with the folks that have given you this feedback so I can dig in further and/or surface how other people/orgs have solved this problem in the past.

Again, there is already ways to securely publish (ie. [`auth tokens`](https://docs.npmjs.com/creating-and-viewing-authentication-tokens)). For 2FA

[2019-10-04 19:05] dominykas commented on #244
Even if you have a CI-specific user account, you're still vulnerable, as if the token is stolen - people can publish all your packages. Maintaining separate accounts for each package is a hassle which I doubt anyone does. CIDR restricted tokens are a hassle because a) you can only set an IP range (not a DNS mapping) b) you cannot update the IP range (IIRC - was not able to create a new token just

[2019-10-04 19:27] dominykas commented on #244
@darcyclarke are you in a position to share a bit more details about how you use krypt.co for 2FA?

It does not seem to provide a way to get an OTP remotely - it seems to only support U2F (which npm does not support)?

It seems that it _can_ sign git commits, so I assume it can also use the same key to encrypt/decrypt stuff as well, but it's not very clear from documentation how to do it (side not

[2019-10-04 19:37] ljharb commented on #244
What would be ideal for me is if you could autopublish from CI a tarball but it’d be marked “pending” for some period of time with a bot token, and then owners could make that live within that period via their own credentials, and it’d be as if they published it locally (it could expire after the time period). That way the build can be reproducible and verifiable, but a human’s still pulling the t

[2019-10-04 19:41] dominykas commented on #244
I've played around with a similar approach - I used `semantic-release` to push a tarball back into GH releases ([example in assets](https://github.com/dominykas/allow-scripts/releases/tag/v1.3.0)), and then you can `npm publish [tarball URL](https://github.com/dominykas/allow-scripts/releases/download/v1.3.0/allow-scripts-1.3.0.tgz)` from your local machine (which will dutifully ask for OTP).

It'

[2019-10-04 20:47] mhdawson commented on #263
The rules and process for repos under the node.js do vary.  Making people collaborators in a repo within the org does potentially grant some access (for example to moderation repo).   Just to say I think we could probably define the "governance" for the repo so that it allowed the same velocity.

For me the biggest thing to decide is on the value of being in the nodejs org in terms of discover abi

[2019-10-04 20:52] mhdawson commented on #263
The other thing I'll add is that for people working at larger companies they often have to get approval to contribute to a given org or package.  One extra benefit to being in the nodejs is that for anybody who has the ok to contribute to Node.js then they'll be able to contribute without having to get any additional approvals.

[2019-10-04 20:53] mhdawson commented on #224
@Emuentes I honestly can't remember but your explanation seems like something we should do....

[2019-10-04 20:55] mhdawson commented on #248
Sorry for late reply.  I think 3EST on the 10 would be good.  @ghinks are you going to send out an invitation?

[2019-10-04 23:06] wesleytodd commented on #263
I am very much in support of having a place were a large group of people feel comfortable contributing.  That said, at the small scale we are at it seems like just giving merge and publish rights on demand it fine IMO.  For example, @Eomm I gave you merge rights on `@pkgjs/support` already, right when you mentioned it in one of the other issues.  Leading to the next question:

In the long run I co

[2019-10-05 12:45] ghinks commented on #248
Yes that seems to work.

[2019-10-05 12:57] ghinks commented on #206
Apologies I have not followed up on this as the other blog endeavor of [#248](https://github.com/nodejs/package-maintenance/issues/248) looks to be enough for me.

[2019-10-07 21:56] mhdawson commented on #263
Me for one.  I have approval to contribute to the Node.js project but will have to request access/get review to contribute to a new org

[2019-10-07 21:57] mhdawson commented on #264
I must have added this to the agenda too late: https://github.com/nodejs/package-maintenance/pull/260 would like to see if we can get consensus to land and send it out.

[2019-10-07 23:07] wesleytodd commented on #263
OH! Well that is a big issue then.  I had assumed this would be an edge case, but sounds like it will be more common.

With that in mind, if I had embarked on creating `@pkgjs/support` in this org, what are the answers to these questions:

1. Could I have just created the repo without raising flags or getting too much attention too soon?  If not, what is the process for creating new repos in the n

[2019-10-07 23:24] ljharb commented on #263
Why does the specific org make it a node, or a non-node, project? I’d think permission to contribute to any node project applies to any node repo, in any org.

[2019-10-08 02:32] dougwilson commented on #263
Right, at my company there is no generic approval for any org, it is specific to each repo. This is because the approval is not arbitrary; they are looking for certain things, like is there a CLA and what does it say, what is the license of the project and what does the license say about patents, etc. A GitHub org does not force every repo within it to abide by the same rules, so my company doesn'

[2019-10-08 12:39] lholmquist commented on #264
not going to be able to make this one.  i'll catch up with the youtube video

[2019-10-08 14:03] Emuentes opened #265 "Decide on contents for a package maintenance team "issue template""
Some tickets have lingered due to lack of consensus or clarity on the outcome that would justify the closing of the ticket.

In an effort to enable the team to confidently close tickets (or break them down into smaller scope, easier to manage parts) let's create an issue template to help streamline discussion practices.

[2019-10-08 17:29] wesleytodd commented on #263
@dougwilson This is also great input.  I think this would be a great thing to expand on and make recommendations based on what makes the most people able to contribute.  If a CLA is required, we should have a guide and default setup's for a CLA.  Licenses are a different topic, and I would hesitate to make recommendations there, but maybe resources for maintainers about what companies look for wou

[2019-10-10 19:01] ghinks commented on #248
https://us04web.zoom.us/j/937762958

[2019-10-10 19:38] mhdawson commented on #241
One more idea we had today when we were discussing the blog post to get more feedback:

* Ask for both inline and url (ie URL which is link to latest version of the data as well as json for the current version) in the package.json  (this is different suggestions which were OR, it is AND)
* This does require an file external to npm to host the data, but github should be a good option
* At some poin

[2019-10-10 21:39] ljharb commented on #241
Duplicating it means you have two sources of truth; i'm not sure why there's any value in that.

I think that npm would actively *not* want to update the package.json - rather, some other file/metadata.

[2019-10-10 21:50] wesleytodd commented on #241
@ljharb Do you think you would be available to come to the next [npm rfc meeting](https://github.com/npm/rfcs/issues/52) when they schedule it?

I was doing my best to represent all the facets of the conversation we have had in the WG to npm, but I think with you being the champion of this particular part it would be better if you and the folks at npm could talk directly.

Or maybe seeing if @darc

[2019-10-10 21:55] ljharb commented on #241
@wesleytodd I'd love to, but they seem to always be at 1pm ET on Wednesdays, which is a time I can't make.

[2019-10-11 17:38] dominykas commented on #244
Partly note to self, but 2FA publish info is now public: https://blog.npmjs.org/post/188234999089/new-security-insights-api-sneak-peek

[2019-10-11 17:56] ljharb commented on #244
Looking forward to a tool that can validate this publishing info from my full dep graph against a schema, like licensee can for license compliance!

[2019-10-11 19:57] mhdawson commented on #265
In terms of merging a PR, in core we only require 2 approvals and 48 hours.  Something longer is probably appropriate here as its not code, but processes, policies etc but I'd say some like:

* at least 2 approvals
* no blocking review
* 7 days from time PR was opened.

[2019-10-11 20:00] mhdawson commented on #241
@ljharb the suggestion was in the spirit of a `compromise` there are many people who feel a url is better, more up to date.  In the suggestion it is only a duplicate if it has been update and is considered the "source of truth".  At the same time it tries to address your concerns that the data be available off line and from the npm registry.   The suggestion about npm updating  (in the client as i

[2019-10-11 20:10] mhdawson commented on #263
What @dougwilson mentions is true, although there are some high level requirements/consistency across the Node.js org in terms of licences, whether as CLA is used or not, etc. which are in place That makes it easier and can make a broader ok possible.

I can make it work either way. Just wanted to comment that it is potentially a bit more work people will need to do.

[2019-10-11 20:12] ljharb commented on #241
If there's a URL, then the inline data won't likely be kept up to date, and then my concern is simply not addressed. The only way it will always be up to date is if it's *forced* to be part of the package.

[2019-10-11 20:12] mhdawson commented on #263
I'll also add that I think what I outlined in https://github.com/nodejs/package-maintenance/issues/263#issuecomment-538554465 is the primary concern, with whether its a bit harder/easier for people to contribute being secondary.

[2019-10-11 20:14] mhdawson commented on #241
The suggestion to have it be auto updated on publish from the url was intended to ensure it was as up to date as possible.

[2019-10-11 20:26] ljharb commented on #241
If that’s something npm can support, and it’d error the publish if the data was unavailable or invalid, and it was ergonomic to provide both or one or the other, and if a mismatch between the url and the online data errored too, then that does seem like a workable compromise.

[2019-10-11 21:18] mhdawson commented on #241
@ljharb you might know better than me but it should be something that somebody outside of the npm could PR into the client?

[2019-10-11 22:34] ljharb commented on #241
Surely anyone could write the PR, but the key question is, would they accept it :-)

[2019-10-12 08:05] dominykas commented on #263
I personally don't mind much either way, but just wondering if we need to formalize this yet? Can we treat `@pkgjs` as an incubator, and then depending on contributor needs and/or traction graduate to nodejs org?

Alternatively, can we somehow designate "pkgjs" to be the same as "nodejs"?

I find it useful to have that namespace - the nodejs org has 160+ repos and 160+ teams - it can be a bit over

[2019-10-12 13:10] #264 closed

[2019-10-12 14:38] ljharb commented on #263
Personally i find little to no value of this being in the node org, and a bunch of valuable things by being in a separate org. These packages aren’t node and don’t belong with node - this working group is to manage parts of the node ecosystem, but this deserve its own space imo.

[2019-10-12 19:27] wesleytodd commented on #263
I think this is reasonable, but then are we going to ask users to migrate from the incubator version to the "node core" version?  That seems unlikely to happen smoothly.  If we can make a good plan for this I am fine, but it seems easier to point people from node to the separate place, than try to move the whole repo.

I tend to agree on this, and it was a good decision when Express broke out into

[2019-10-15 17:52] wesleytodd opened #268 "Collab Summit Topic"
Lets discuss!

Here is the issue template we will have to fill out:

[code]

Who can attend and what should we talk about?

[2019-10-15 21:56] mhdawson commented on #268
I'll be there.

I'm kind of torn between "collaborate" and "talk". Ideally we'd have some time to collaborate but we also want to use the opportunity to evangelize and encourage new people to join as well.

[2019-10-15 22:01] wesleytodd commented on #268
I also agree we have a dual purpose.  Could we call it "collaborate" but then start the session with a small presentation of the goals and current initiatives?  I have not been to a collab summit, so I don't know how strictly planned these are or need to be.

[2019-10-15 22:02] mhdawson commented on #241
@darcyclarke any comments on the suggestion in: https://github.com/nodejs/package-maintenance/issues/241#issuecomment-540748913

[2019-10-15 22:04] mhdawson commented on #268
I think the 'Collaborate', 'Workshop', and 'Talk' distinction is new for this iteration.  Maybe we should ask about what it means to choose one versus another.  It may be to help people choose ones which are good for existing members of the WG versus new people.

[2019-10-16 12:06] mhdawson opened #269 "Node.js Foundation Package Maintenance Team Meeting 2019-10-22"
## Time

**UTC Tue 22-Oct-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 22-Oct-2019 12:00 (12:00 PM) |
| US / Mountain | Tue 22-Oct-2019 13:00 (01:00 PM) |
| US / Central  | Tue 22-Oct-2019 14:00 (02:00 PM) |
| US / Eastern  | Tue 22-Oct-2019 15:00 (03:00 PM) |
| London        | Tue 22-Oct-2019 20:00 (08:00 PM) |

[2019-10-18 15:59] Eomm commented on #268
I think I can't go this time

The biggest topics are:
- the SUPPORT.md
- help the pilot packages
- reference to the written docs (do we think we are lacking in some aspect? (ci, publish, test etc.. are all covered)

I would like to finalize some tools I have in the backlog in order to start really helping the pilot packages in order to collect some data do present in the presentation at the beginn

[2019-10-18 19:48] mhdawson commented on #268
FYI - The submission link is being used for 2 purposes so we might want to make more than one proposal.  The first is for content in the "community corner" in the main conference, the second is for sessions in the collaborator summit itself.

[2019-10-20 00:24] wesleytodd commented on #268
Can you describe "community corner" more?  What kind of content would we want to prepare?

[2019-10-20 19:12] ghinks commented on #241
@Eomm when you said that there are 2 types of package.json that can be downloaded on August 28th one with meta data how are the mechanisms different to fetch them, I ask as I thought plan old curl https://registry.npmjs.org/expressjs was the only option. ( just part of my background on the blog for support :) )

[2019-10-20 19:44] Eomm commented on #241
I was referring to [this doc](https://github.com/npm/registry/blob/master/docs/responses/package-metadata.md).

For what I saw, the full version is the double time the lighter's version in the worst case.

[2019-10-20 20:41] ghinks commented on #241
I made a few updates to the [google draft document as we suggested](https://docs.google.com/document/d/1-2iLaVEQCwQeCmtQ1fvgVDLOPwUZpUUY-3cfQoMUTvo/edit?usp=sharing).

After some time for reflection, which is always good, I am hoping we can reach a compromise. As I do not believe either method could be fully satisfied currently without getting the registry involved.

[2019-10-22 03:14] darcyclarke commented on #241
I'll try

I'm not sure I understand the benefit of doubling up on where this information lives, even in the interim.

I'm a bit concerned with having `npm` agree to, at some point in the future, pull in any data automatically for a publisher; I feel like that strategy would be prone to conflicts and cause us a bit of pain from the tooling/support side.

I'm not sure if package maintainers would wa

[2019-10-22 16:32] lholmquist commented on #268
I'm pretty sure i will be there and it will be my first collab summit

[2019-10-22 18:56] rxmarbles opened #270 "[discussion] Policy around forking OSS when no longer maintained"
this conversation started up in our company around an OSS package that appears to no longer be maintained (PR's have been opened and issues as well). It is mentioned in our doc https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/DEPRECATE-GUIDELINES.md#identifying-unmaintained-package on how to identify an unmaintained package, but we did not address the "reasonable amount of tim

[2019-10-22 19:01] mhdawson commented on #270
@rxmarbles can you clarify the question/topic for discussion.  Is it an ask around what a reasonable amount of time is?

[2019-10-22 19:03] mhdawson commented on #268
Last year "Community corner" was an area in the open area where there was a large monitor, mics etc setup. outside of the halls where the main tracks/talks took place.  Scheduled into that were more informal talks/sessions on community topics.

[2019-10-22 19:07] rxmarbles commented on #270
Correct that is the question we are looking to resolve.

[2019-10-22 20:25] wesleytodd opened #271 "PkgJS Org for WG supported tooling"
As discussed in our meeting and in #263, we will be using the `@pkgjs` github org as well as npm namespace for publishing our tooling.  To kick things off we have a small todo list:

- [x] Change the licenses to MIT for existing repos
- [x] Assemble a list of contributors to grant access
- [x] Define a process for adding new members
- [x] Explicitly adopt the governance structure of the Node org f

[2019-10-22 20:34] dominykas commented on #270
I'm not sure it makes sense to define such a time in absolute terms? It probably varies very much on a case-by-case basis, but more importantly - what does "forking" even mean?

As you open the PRs with fixes, you're already pushing the "fork" button. We've had quite some cases where we'd publish a fork either on public npm as scoped package or internally, I've also been installing packages direct

[2019-10-22 20:36] dominykas commented on #271
✋

We need to move on solving that 2FA publishing problem ;)

[2019-10-22 20:37] wesleytodd commented on #271
YESS! Added to the todo list!

[2019-10-22 22:11] ljharb commented on #241
We had a great discussion in our meeting today.

Following that, @mhdawson and I had a productive chat, and here's what we'd like to propose: a package.json field called `support` which is one of:

* `true`: This will imply your package.json's `repository` URL (including `directory`), with a default path value of `./package-support.json`
* a string: a relative path, starting with `./`, that points

[2019-10-22 23:51] arcanis commented on #241
Thanks for the ping! I'm currently in vacations so attending is difficult, but I appreciate being at least aware of the discussion 👐

The proposal described by @ljharb would solve the main issue I had with this proposal. 👍

My only remark is that the `repository` field already has a way to specify [a path within a repository](https://github.com/greysteil/rfcs/blob/9bc5c6ab0f14fc2c2455484b49415f141

[2019-10-23 01:14] ljharb commented on #241
@arcanis the intention is to respect the directory field (that the npm website already respects afaik); my comment includes an example of doing so.

I’m afraid i can’t attend the npm meeting; so far it’s always been Wednesday at 9am PT which i have a standing conflict for.

[2019-10-23 11:04] lholmquist commented on #241
@ljharb that outline looks really great.

I thought i had while reading is would it be beneficial to try and get the "common case" creation supported in `npm init`?  probably another issue to discuss

[2019-10-23 15:10] ljharb commented on #241
Absolutely it would :-) but that’s something we can do iteratively, after we’ve demonstrated some community adoption of the support field via our own tooling.

[2019-10-23 20:33] dominykas commented on #157
Note to self: extend both - testing and ci/cd guidelines with additional info (and link to) the "Please test in LTS" blogpost (#260).

[2019-10-23 20:37] dominykas opened #273 "Publish baseline practices outside of this repo"
This came up as part of blog post related discussion (outside of here). When we reference the baseline practice (and other docs), do we want to link to the `master` on GH? Or should we publish them on some more permanent URL, e.g. on GH pages (or something trendier)? Or is it too soon?

[2019-10-23 23:19] ljharb commented on #273
master seems fine to me for now; we can move it to gh-pages in the future tho.

[2019-10-24 16:39] lholmquist commented on #271
/me would like to be added

[2019-10-24 21:52] mhdawson commented on #241
@nodejs/package-maintenance can you chime in on the latest proposal in: https://github.com/nodejs/package-maintenance/issues/241#issuecomment-545178197.  If we can get consensus on this we can move on to the next phase of getting broader input.

[2019-10-24 21:54] kemitchell commented on #241
Folks: Just FYI, I have to unsubscribe here. I'm slammed now, but finally getting some desperately needed time off next week.

Please feel free to @-mention me if there's some specific place where I can help. But please understand that I won't be responding for the next week or so.

[2019-10-24 21:54] mhdawson commented on #271
I'd like to be added, but will need to wait until the licences are updated and then I can request the ok to contribute.

[2019-10-25 20:01] Eomm commented on #271
I should have upgraded the licence to MIT for the 6 repo... great test in production for massive wax  😅

If you need more "broadcast" operation let me know!

[2019-10-25 20:22] Eomm commented on #241
Is this assuming the "no external internet" has access to the most common repository hosts right?
I just want to be sure to have understood all the cases.

[2019-10-25 20:25] ljharb commented on #241
No, in those scenarios, they would be relying on the contents of the tarball.

[2019-10-25 20:31] Eomm commented on #241
So should the 3rd use case ("sharing the same support data across multiple repos") download the file on installation?

I don't understand when the fetch happen in that scenario

[2019-10-25 20:33] ljharb commented on #241
Yes, ideally - but i don’t think that will be a common use case, and our tooling could still download it prepublish for those making that extra effort.

[2019-10-28 16:19] dominykas commented on #204
Published at https://medium.com/@nodejs/choosing-the-node-js-versions-for-your-ci-tests-hint-use-lts-89b67f68d7ca

[2019-10-28 16:19] #204 closed

[2019-10-28 16:20] dominykas commented on #200
The blog is now published at https://medium.com/@nodejs/choosing-the-node-js-versions-for-your-ci-tests-hint-use-lts-89b67f68d7ca

Don't think there's much else we can do here, unless we want to proactively go PR packages with outdated settings?

[2019-10-30 12:05] mhdawson opened #275 "Node.js Foundation Package Maintenance Team Meeting 2019-11-05"
## Time

**UTC Tue 05-Nov-2019 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 05-Nov-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 05-Nov-2019 07:00 (07:00 AM) |
| US / Central  | Tue 05-Nov-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 05-Nov-2019 09:00 (09:00 AM) |
| London        | Tue 05-Nov-2019 14:00 (02:00 PM) |

[2019-10-30 21:13] wesleytodd commented on #273
Agreed, `master` is good for now in that we don't plan to move the documents but want people to see the most up-to-date version.  If we do decide to move them ever we just need to be aware of where they are linked from so we can update.

[2019-10-31 12:20] MarcinHoppe commented on #159
I submitted #277. I would love to get feedback and start the discussion on specific recommendation or even the general outline of the document.

/cc @mhdawson @wesleytodd @sam-github

[2019-11-03 17:45] wesleytodd commented on #271
Ok, all the license changes are made and everyone from this thread so far is invited. 🎉

[2019-11-04 15:20] lholmquist commented on #275
I won't be able to attend, but @helio-frota will be there representing Red Hat

[2019-11-04 22:09] mhdawson commented on #271
@wesleytodd thanks, requesting the ok to contribute to that org internally now :)

[2019-11-05 14:15] mhdawson commented on #265
Discussed in last meeting. This is what we agreed to be:

Least 4 approvals
No blocking review
7 days from time 4th approval was received.

Next step is to PR into README.md

[2019-11-05 14:22] mhdawson commented on #241
Next steps:
* PR the latest suggestion from @ljharb and @mhdawson into the doc. (Michael)
* Update blog post
* Start brainstorming/working on tooling to support.
* Promote

[2019-11-05 14:23] mhdawson commented on #236
Waiting on PR for release, node core and website to make sure we have the consistent language - Michael has action, but has not done it yet.

[2019-11-05 14:32] mhdawson commented on #164
Close as PR has landed

[2019-11-05 14:32] #164 closed

[2019-11-05 14:49] mhdawson commented on #205
Waiting on

* Issue in nvm to provide option for oldest LTS release
* Issue in Travis to adopt the above
* (blog post already complete)

[2019-11-05 14:53] mhdawson commented on #206
Renovate looks like it can do that, the others don't.  @dominykas is going to write up a best practice on how to use renovate to keep your testing updated to LTS versions.

Closing

[2019-11-05 14:53] #206 closed

[2019-11-05 15:52] ljharb commented on #206
I’ve actually come up with a way to do it on Travis using a new unannounced feature of theirs :-) I’ll update here once I’ve finished testing it on the rest of my projects.

[2019-11-05 21:37] Eomm commented on #164
there are 2 PRs about this issue: https://github.com/nodejs/package-maintenance/pull/178 https://github.com/nodejs/package-maintenance/pull/243

and the final files are:
https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/PUBLISH-GUIDELINES.md
https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/PUBLISH-BLOG.md

but I'm not sure the blog post has been posted jet

[2019-11-05 21:40] Eomm commented on #269
Closing since https://github.com/nodejs/package-maintenance/pull/272 has been merged

[2019-11-05 21:40] #269 closed

[2019-11-08 00:16] ghinks commented on #265
The rules above we added under PR https://github.com/nodejs/package-maintenance/pull/279
Now we have the rule in master we can close this in the next meeting.

[2019-11-09 09:26] dominykas opened #280 "[Baseline practices] Keeping dependencies and node up to date"
We should have a doc, which describes the whys and the hows of staying up to date.

[2019-11-09 15:25] ghinks commented on #280
Something like the steps involved in setting up renovate bot on github for a repo and what are views are on the sort of schedule for updates?

[2019-11-09 21:40] dominykas commented on #280
Yes, although I think we should cover more than just renovate. There's also options for automerging, lock file maintenance, etc.

One thing I'd also be interested to see is keeping multiple release lines updated, esp. If we're going to make LTS for packages happen.

[2019-11-13 13:06] mhdawson opened #283 "Node.js Foundation Package Maintenance Team Meeting 2019-11-19"
## Time

**UTC Tue 19-Nov-2019 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 19-Nov-2019 12:00 (12:00 PM) |
| US / Mountain | Tue 19-Nov-2019 13:00 (01:00 PM) |
| US / Central  | Tue 19-Nov-2019 14:00 (02:00 PM) |
| US / Eastern  | Tue 19-Nov-2019 15:00 (03:00 PM) |
| London        | Tue 19-Nov-2019 20:00 (08:00 PM) |

[2019-11-13 19:25] wesleytodd commented on #268
So we need to have this finalized by ~Dec 4th.  Does anyone have any strong opinions on what we should do so we can start the application?

[2019-11-14 12:55] reinaldorauch commented on #14
I will close this as I will not be able, unfortunately, to move forward with this

[2019-11-14 12:55] #14 closed

[2019-11-14 19:03] ljharb commented on #205
This can now be achieved trivially by using my [shared configs](https://github.com/ljharb/travis-ci): https://twitter.com/ljharb/status/1194728750698487808

iow, anyone who uses my shared travis configs will get new LTS versions automatically, since i add new node versions to that repo pretty rapidly (and eventually could automate it with github actions).

[2019-11-15 07:46] dominykas commented on #205
👍 This is great!

What about deprecating old versions?

[2019-11-15 08:40] ljharb commented on #205
Happy to add any additional composable "presets" to that shared repo as folks need it.

[2019-11-18 05:17] balupton commented on #280
FWIW

@bevry accomplishes the goal of this automatically for all of its packages, through the following pieces

- https://github.com/bevry/boundation enforces consistency against packages, including support for all the below
  - https://github.com/bevry/editions enables support for older node versions, as well as provides standardised data about the environments the package supports and what techn

[2019-11-18 05:39] balupton commented on #172
copy of my comment here https://github.com/nodejs/package-maintenance/issues/280#issuecomment-554855494

---

FWIW

@bevry accomplishes the goal of this automatically for all of its packages, through the following pieces

- https://github.com/bevry/boundation enforces consistency against packages, including support for all the below, and including support for local testing on the package's specifi

[2019-11-18 05:40] balupton commented on #114
copy of my comment here https://github.com/nodejs/package-maintenance/issues/280#issuecomment-554855494

---

FWIW

@bevry accomplishes the goal of this automatically for all of its packages, through the following pieces

- https://github.com/bevry/boundation enforces consistency against packages, including support for all the below, and including support for local testing on the package's specifi

[2019-11-18 05:40] balupton commented on #5
copy of my comment here https://github.com/nodejs/package-maintenance/issues/280#issuecomment-554855494

---

FWIW

@bevry accomplishes the goal of this automatically for all of its packages, through the following pieces

- https://github.com/bevry/boundation enforces consistency against packages, including support for all the below, and including support for local testing on the package's specifi

[2019-11-18 14:07] mhdawson commented on #268
I think 2 submissions would be good.

1) Community Corner  - promote interest to larger audience and try to attract new members)
2) Collab summit session  - working sessions of the group

Let's identify who will make the submissions in the meeting tomorrow.

[2019-11-18 14:09] mhdawson commented on #283
Added - * Collab Summit Topic [268](https://github.com/nodejs/package-maintenance/issues/268) to the agenda.

[2019-11-18 14:14] mhdawson opened #284 "Node.js Foundation Package Maintenance Team - Express Triage Sync/Kickoff"
Initial meeting to discuss how to sync across team members and how to co-ordinate engagement

Set for 9 AM EST on Nov 25th.

Discuss/sync on Express triage - kickoff - https://zoom.us/j/431077278
https://zoom.us/j/431077278

Will be led by @gireeshpunathil

[2019-11-18 14:16] mhdawson commented on #283
Added - * Node.js Foundation Package Maintenance Team - Express Triage Sync/Kickoff[284](https://github.com/nodejs/package-maintenance/issues/284) to agenda

[2019-11-18 14:18] mhdawson commented on #275
PR for minutes: https://github.com/nodejs/package-maintenance/pull/278

[2019-11-18 14:18] #275 closed

[2019-11-18 17:05] wesleytodd commented on #241
This was the compliant JSON schema for the previous version.  Maybe update that with the changes?

[2019-11-18 17:49] wesleytodd commented on #284
Hey, this sounds like a good idea but will be a bit difficult for me to attend.  It would be best to get a time where all the involved parties can attend, including members of the TC.  Could we maybe use this issue as a jumping off point for scheduling and setting an agenda?

Things I would like to discuss:

https://github.com/expressjs/discussions/issues/92
https://github.com/expressjs/express/pu

[2019-11-18 18:20] dougwilson commented on #284
I definitely cannot attend this as I will be on a plane at that time traveling for the holidays.

[2019-11-19 01:53] gireeshpunathil commented on #284
I will setup a doodle shortly to gather consensus on timings.
@mhdawson - can you pls detach this item from the agenda? we could run this off the regular meetings.

[2019-11-19 20:10] mhdawson commented on #284
@gireeshpunathil not quite sure what you mean by "detach for agenda".  But the discussion in the package-maintenance meeting is that we should find a different time so that Doug and or Wes can make it.

[2019-11-19 20:27] mhdawson commented on #268
# known to be there
* Darcy
* Michael
* Lucas
* Wes
* Bethany
* Glen (hopefully)
* Anybody else please comment

Book for 1 hour

Starting topics
- Publishing for teams
- Support info
- Discussion of funding platforms/approaches
- CI setup recommendations

Collab summit - who will submit
  - Michael to summit collaborator summit issue.
  - Edgar to submit the community corner issue and creates.  Th

[2019-11-19 20:37] ruyadorno commented on #268
I'll make sure to attend those too 😊

[2019-11-19 21:00] #265 closed

[2019-11-19 21:02] jchip opened #285 "publish blog about publishing npm package"
As result of https://github.com/nodejs/package-maintenance/issues/164 we landed a blog post https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/PUBLISH-BLOG.md.

Let's schedule to publish this blog.

[2019-11-20 00:53] ljharb commented on #285
We should try to add to it a section on using Travis shared configs

[2019-11-20 01:30] gireeshpunathil commented on #284
@mhdawson - ah, sorry; I got confused - my understanding was that agenda item https://github.com/nodejs/package-maintenance/issues/284 was the one that was of interest to Doug and Wes.

[2019-11-20 13:05] mhdawson opened #286 "Node.js Foundation Package Maintenance Team Meeting 2019-11-25"
## Time

**UTC Mon 25-Nov-2019 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 25-Nov-2019 06:00 (06:00 AM) |
| US / Mountain | Mon 25-Nov-2019 07:00 (07:00 AM) |
| US / Central  | Mon 25-Nov-2019 08:00 (08:00 AM) |
| US / Eastern  | Mon 25-Nov-2019 09:00 (09:00 AM) |
| London        | Mon 25-Nov-2019 14:00 (02:00 PM) |

[2019-11-20 13:58] dominykas commented on #286
Is this the right date? Should it not be 3/Dec?

[2019-11-20 19:40] jchip commented on #285
how is Travis shared config related to publishing npm package?

[2019-11-20 19:45] mhdawson commented on #283
PR for minutes: https://github.com/nodejs/package-maintenance/pull/287

[2019-11-20 19:45] #283 closed

[2019-11-20 19:48] mhdawson commented on #286
This was created because of the name I used for the meeting to discuss express specifically. Closing and we should get one for the right date.

[2019-11-20 19:48] #286 closed

[2019-11-20 19:49] mhdawson commented on #284
@gireeshpunathil, yes they want us to reschedule this meeting so that they can attend. Can you co-ordinate a doodle to find a time that works for them?

[2019-11-20 20:00] mhdawson commented on #268
Issue to propose the collab summit session: https://github.com/openjs-foundation/summit/issues/209

[2019-11-20 20:25] ljharb commented on #285
@jchip oops, you're right, it's not - deleting my comment.

[2019-11-21 23:55] mhdawson commented on #205
Very nice !

[2019-11-21 23:59] mhdawson commented on #285
@jchip can you send me and email asking to get the Foundation staff to publish on the Node.js Medium blog. I'll forward along and we can see if we can get the process started.

[2019-11-22 00:33] ljharb commented on #205
as an example, node v13.2 just was released, so now every project using the "minors" presets will automatically test on it also (as opposed to instead of 13.1), on their next travis run.

[2019-11-23 22:16] Eomm commented on #241
Yes, I think the direction more stable now and we could improve the [pkgjs/support](https://github.com/pkgjs/support) package: do you agree to open some issue there to split the job?

[2019-11-27 13:06] mhdawson opened #289 "Node.js Foundation Package Maintenance Team Meeting 2019-12-03"
## Time

**UTC Tue 03-Dec-2019 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 03-Dec-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 03-Dec-2019 07:00 (07:00 AM) |
| US / Central  | Tue 03-Dec-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 03-Dec-2019 09:00 (09:00 AM) |
| London        | Tue 03-Dec-2019 14:00 (02:00 PM) |

[2019-11-27 14:16] mhdawson commented on #268
@Emuentes have you proposed the community corner session?

[2019-11-27 15:49] gireeshpunathil commented on #284
here is a doodle. The date is tentatively Dec 4th (that is movable), but more importantly, please cast your vote on a timing that works for you for future iterations as well.

https://doodle.com/poll/yhk89eqpuvuimiyb

@dougwilson @wesleytodd @helio-frota @mhdawson @HarshithaKp and anyone else who would like to take part. Thanks!

[2019-11-27 15:58] helio-frota commented on #284
/me voted

[2019-11-27 16:27] ghinks commented on #268
Edgar and I will have a look at this, just reminding myself of what was said during the last meeting.

[2019-11-27 16:57] ghinks commented on #268
@mhdawson I have just gone over the meeting from Nov 19th. I think both Edgar and myself are happy to propose and write up a community corner session. Is there a mechanism for this or should we just write something up under this issue? From the [main conference schedule](https://events19.linuxfoundation.org/events/nodejs-interactive-2019/program/schedule/) I am not sure where this would go?

[2019-11-27 17:32] Emuentes commented on #268
@mhdawson @ghinks I proposed our community corner session here:

https://github.com/openjs-foundation/summit/issues/212

[2019-11-27 18:13] mhdawson commented on #268
@ghinks @Emuentes thanks for submitting.  Looks good.

[2019-11-27 21:45] dominykas commented on #205
1. Should we have this under `@pkgjs`? I know @ljharb is not some rando on the internet, but if we were to make an official recommendation - should that be in an official repo?
2. It does a bit more than just include the relevant versions (e.g. `npm run tests-only` support)? Do we want to be that opinionated? I think I'd favor something that has just the basics.
3. It would probably make sense to

[2019-11-27 22:00] dominykas commented on #179
Did this demo ever happen? I'd be curious to learn more.

[2019-11-27 22:05] dominykas commented on #273
Closing for now - we can revisit later.

[2019-11-27 22:05] #273 closed

[2019-11-27 22:12] mhdawson commented on #205
I'd be +1 for having it under #pkgjs

[2019-11-27 22:12] ljharb commented on #205
I'd be happy to fork it into an official org, and then keep both remotes updated at the same time.

[2019-11-27 22:13] dominykas commented on #114
(cc @ghinks as you started this discussion)

Can we close this issue? I think the recommendations are covered in the testing and ci/cd guidelines (we advise all active release lines are supported). I will probably revisit the wording when I start working on #280. We also have the support levels so that people can indicate what they actually support.

[2019-11-27 22:14] ljharb commented on #205
As for the `tests-only` thing, that's kind of necessary if we want to separate linting, from auditing, from tests - since `npm test` is supposed to always run 100% of your tests, I've chosen "pretest", "posttest", and "tests-only" as the convention. There always has to be *some* convention since there's no way to do `npm test --ignore-scripts`, unfortunately.

[2019-11-27 22:25] dominykas commented on #172
Adding this to agenda, if time permits - maybe we can visit this as part of #289

I'm wondering what can we do to move this forward?

- From the discussions here, it seems the feeling is that automated backporting probably has a very low ROI
- We could have a best practice document on various source control approaches to achieve multiple release lines in a project, but I figure there's probably a

[2019-11-27 22:33] dominykas commented on #5
@balupton sounds like a cool set of tools! I think in the existing docs we have avoided making specific package recommendations, but instead we list several packages that do similar things. It would probably be useful to mention some of your tools in some of our existing guidelines, as well as providing alternatives?

[2019-11-27 22:42] dominykas commented on #205
If I understand it correctly, Travis can import just the `nodejs` bit - it doesn't _need_ to have the `script`, `env`, etc? Similarly, while I personally also prefer to have `nvm install-latest-npm` in my scripts, I would not say that this is the 100% default for everyone?

[2019-11-27 23:35] ljharb commented on #205
That's a fair point; I can separate out the matrices, and the "latest npm", to separate imports, to allow people to pick and choose those and define their own script/pretest/posttest settings.

Separately tho, I'm not sure what use case anyone has in CI for not testing with the latest npm :-)

[2019-11-27 23:55] dominykas commented on #205
I can come up with several edge cases, alright... Not sure if they're relevant for people publishing to public npm, though. One example is doing stuff with docker - the base images have a fixed npm which is distributed with the node release. Then there's occasional edge cases for more complex situations with peer deps and/or shrinkwraps, which are about to get breaking changes and ever so often ha

[2019-11-28 00:26] ljharb commented on #205
I’ll comment here once I’ve separated out the unopinionated parts.

[2019-11-28 06:07] gireeshpunathil commented on #284
ping @dougwilson - if we get your vote too, we can take it to the next level!

[2019-11-28 10:17] balupton commented on #5
Sure, that's your discretion.

[2019-11-28 15:36] dougwilson commented on #284
There wasn't a lot to choose from, but I voted now for what I could commit to actually making.

[2019-11-28 16:27] gireeshpunathil commented on #284
@dougwilson - sorry about that!

unfortunately, the list contain the maximum range I can accommodate myself (13 hours), and anything else is impractical for me.

however, looking at the current state of things, I don't see a slot that works for everyone. I am looking for ideas!

 - select 2 times and run 2 meetings with timing changed in alternative sittings?
 - repoll with a band?
 - anything els

[2019-11-28 16:38] dougwilson commented on #284
Yea, I definitely understand :+1: the hardest part of course is that open source is unfortunately not the actual income generator, so I am beholden to my employer during my daytime hours. Sneaking comments on github during work is pretty easy but suddenly disappearing from work for an hour or so is not workable for me unfortunately. The rest of the hours are all the sleeping time in my timezone lo

[2019-11-28 18:58] mhdawson commented on #284
Based on the doodle, how about Gireesh get's together with Doug/Wes on Dec 3 10:30 slot and then again with the larger group on Dec 4 at 11:30.

Not ideal but hopefully Gireesh/Wes can convey the discussion that Gireesh/Wes/Doug have the day earlier?

[2019-11-28 19:14] wesleytodd commented on #284
That seems fine to me.  We should make sure we have the Express youtube channel hooked in to stream all the meetings so we have a good record others can watch!  @dougwilson Could we get the access credentials added to the lastpass we used to share the OpenJSF zoom credentials?

[2019-11-28 19:37] BethGriggs commented on #179
@dominykas - I found the meeting that the demo was in https://youtu.be/FO4PZj_WHjA?t=944
Happy to run through again in future. That project hasn't been active in the past few months, but I think there may be some value we can extract from it (such as building parts of it into a small usable CLI tool or adding some new features to `nodejs/citgm`)

[2019-11-28 20:21] dominykas commented on #179
Thanks, I'll take a look!

[2019-11-28 20:24] mhdawson commented on #114
+1 to closing

[2019-11-28 20:44] mhdawson commented on #236
I looked through the doc in the Release WG repo (https://github.com/nodejs/release) I did not find anything I thought needed to be updated.

Will look at main Node.js repo next.

[2019-11-28 21:16] mhdawson commented on #236
I looked through the docs in the main repo. I did not find anything that I through needed an update to be consistent with the grammar we've defined.

Closing

[2019-11-28 21:16] #236 closed

[2019-11-28 21:53] Eomm commented on #172
We could start from that and then add a TOC in order to ease the learning process for the maintainers

[2019-11-28 22:42] dominykas commented on #84
So here's a proposal on how CITGM for package ecosystems can be implemented.

Basically, the idea is to leverage the existing CI setup, in a similar way that various dependency update management tools do. The implementation could be a bot, which:

1. Upon a specific trigger phrase in a PR
    - alternative: a commit in a specific branch (e.g. `citgm/*`, but this may have access control issues<sup>

[2019-11-29 02:26] dougwilson commented on #284
AFAIK the creds to the youtube channel are just my personal gmail creds, if that is tue creds you're asking for. I didn't make a different gmail account or anything.

[2019-11-29 02:34] dougwilson commented on #284
It looks like a YouTube channel can be moved to a different Google Account according to https://support.google.com/youtube/answer/3056283?hl=en . So I can move it to another Google Account, and seems like everything will stay intact. Is there like a general org account to move it in to or should we make a brand new Google Account just for this (and if so, how should we manage the 2FA on it)?

[2019-11-29 07:37] mcollina commented on #84
Great work and good idea!

[2019-11-29 17:00] gireeshpunathil commented on #284
ok, so that settles:

| Date | Time  | Timezone |
| ------------- | ------------- |-------------|
| Dec 4 | 9 - 10 AM  | IST |
| Dec 3 | 10.30 - 11.30 PM  |EST |
| Dec 3 | 7.30 - 8.30 PM | PST |

Let us use https://zoom.us/j/431077278

this is from node.js org, and has streaming facility.

I have sent out an invite (covering Wes now). @dougwilson - I don't have your email address, will you either

[2019-11-29 18:54] dougwilson commented on #284
If the second conversation is just to convey the first, wouldn't just watching a recording suffice? Why even have two meetings?

My public email is all over the place. As long as this us not the email I have to make an account under, then you're welcome to send it there: https://github.com/expressjs/express/blob/e1b45ebd050b6f06aa38cda5aaf0c21708b0c71e/package.json#L9

[2019-11-29 21:30] mhdawson commented on #284
I don't think it's to just convey the first, but to be able to discussion questions and allow the larger group to organize/co-ordinate their efforts.  Watching the recording from the first one is a good way to prepare though.

[2019-11-29 21:36] mhdawson commented on #84
@BethGriggs FYI as I know you've been thinking about this as well.

[2019-11-29 22:20] dougwilson commented on #284
Ok. Just trying to batter understand the purpose of splitting it. So what would the first one be about? Without questions that are going to be asked in the second ahead of time, what do we need the first for? Is there just some things that need information perhaps we can just get together in text?

I'm not asking because I don't want to have the meeting, but it seems like the first one is just for

[2019-12-02 22:49] #241 closed

[2019-12-02 22:53] mhdawson commented on #289
We should also announce the Express triage subgroup meeting which is happening same day at 11:30 EST.

[2019-12-03 00:40] wesleytodd commented on #289
The calendar invite I got for that is for 7:30pm PST tonight.  Is there some miss-communication here?

[2019-12-03 03:23] wesleytodd commented on #284
I assume it is for more than just you and I right?  This happened a bit fast so I am just making sure I understand what we are discussing and who will be there.  Looking at the doodle and conversation here I am not sure who is attending in 5min and what we are discussing.

[2019-12-03 03:32] wesleytodd commented on #284
I am on the call, just waiting for a host to start it.  @gireeshpunathil is that you?

[2019-12-03 03:38] dougwilson commented on #284
@wesleytodd I think this is a day early. The post above says "Dec 3 | 10.30 - 11.30 PM | EST" in the able, which for me is tomorrow.

[2019-12-03 03:40] wesleytodd commented on #284
Yeah I brought that up, but @gireeshpunathil sent my email a calendar invite, which was for now.  I guess I will drop from the call, but we should make sure the plan is clear for tomorrow.

[2019-12-03 03:40] dougwilson commented on #284
Ok. I am around currently, so if it was actually supposed to be for tonight, I'm free to hop on 👍

[2019-12-03 03:41] wesleytodd commented on #284
Same, I will log into the zoom account and see if I can start it.  At least then we can make sure we understand the goals and what we are already aligned on.

[2019-12-03 03:45] wesleytodd commented on #284
Ok, @dougwilson and others, if you want to join this link I believe I started a webinar: https://zoom.us/j/177107150

[2019-12-03 05:44] wesleytodd commented on #284
@gireeshpunathil, @HarshithaKP, @dougwilson and I had a good preliminary conversation.  Due to the scheduling issue we were not really prepared to stream and record it.  To post here while I have it fresh on my mind: https://github.com/expressjs/discussions/issues/92#issuecomment-561008388

[2019-12-03 14:33] dominykas commented on #172
Some specific things our LTS doc should mention:

- aligning to Node LTS, not bumping major
- including the support levels
- https://github.com/CloudNativeJS/ModuleLTS/blob/master/README.md

[2019-12-03 14:37] styfle commented on #289
Did this meeting happen? It says waiting for host to join.

[2019-12-03 14:39] dominykas commented on #289
@styfle  Yes, we finished early this time round

[2019-12-03 14:49] styfle commented on #245
I am _not_ a fan of stale bot for the above stated reasons 😉

https://twitter.com/styfle/status/1163946760135467010

[2019-12-03 15:04] mhdawson commented on #289
PR for minutes: https://github.com/nodejs/package-maintenance/pull/291

[2019-12-03 15:05] #289 closed

[2019-12-03 15:41] BethGriggs commented on #84
There's a PR over in CITGM at the moment to extend it to test module dependencies - https://github.ibm.com/runtimes/squad-node/issues/419
I'm still torn between whether this should be an additional feature or CITGM or dedicated tool

[2019-12-03 15:43] BethGriggs commented on #84
There's a PR over in CITGM at the moment to extend it to test module dependencies -https://github.com/nodejs/citgm/pull/765
I'm still torn between whether this should be an additional feature or CITGM or dedicated tool

[2019-12-03 20:51] dominykas commented on #84
Thanks! I will definitely take a look!

[2019-12-04 06:01] gireeshpunathil commented on #284
closing this, the the kick-off meeting with Doug and Wes happened, and actions identified + recorded.

I will open another issue to track a sync-up with the triage team members. thanks!

[2019-12-04 06:01] #284 closed

[2019-12-04 06:05] gireeshpunathil opened #293 "Express Triage meetings"
Looks like it makes sense to have a recurring meeting among the triage team members

@mhdawson - request you to schedule an initial one for 10 PM IST, 11.30 AM EST, 8.30 AM PST on Dec 6th, and ping / alert the known members.

Here is the rough agenda:

 - discuss the approach and best practices for triaging
 - discuss who is going to work on which repo
 - discuss on how to co-orinate engagements

[2019-12-04 08:40] andywer commented on #244
Hey there! Sorry for being late to the party...

How about an alternative approach that is a bit less elegant, but works for a broader spectrum of use cases?

In CI you use a small CLI tool or maybe even just `curl` to query a service and request the 2FA code from the maintainer, authenticated of course. The maintainer receives an email, some push notification, ... with a link to the service's das

[2019-12-04 12:44] dominykas commented on #244
@andywer this idea is not a bad idea and it is covered in #282 (the PR listing options) and also some links to PoCs.

[2019-12-04 18:24] wesleytodd commented on #5
@balupton, if you can identify places where your tools could be mentioned in the documentation we are building, it would be helpful to open PR's against those so we are sure to include them in the right places.  I don't think those here will always know which of the ones you list are intended to fit where in the SDLC.

[2019-12-04 18:26] wesleytodd commented on #293
That is pretty quick, we need more lead time before we schedule these.  Could we set the first meeting for early in the new year?  That way we can spread the word, have a clear agenda and make sure everyone can come?

[2019-12-04 18:32] balupton commented on #5
@wesleytodd seems the only page would be https://github.com/nodejs/package-maintenance/raw/master/docs/drafts/tools.md

[2019-12-04 18:40] wesleytodd commented on #5
Great! The PRs should be simple enough then.  Can we close this issue?

[2019-12-04 19:10] mhdawson commented on #293
@wesleytodd we've had a few people want to understand how they can get involved.  This is mostly about having Gireesh get them up to speed on what he's already been done and avoid people working on the same thing.

@helio-frota, @ghinks, @BethGriggs  are three of the people in addition to myself who were hoping to get up to speed/co-ordinate as opposed just waiting until the new year.

@wesleytodd

[2019-12-04 19:13] mhdawson commented on #293
@helio-frota, @ghinks, @BethGriggs does the proposed time on Friday work for you? If not then its a moot point anyway and we might as well agree on a time for January.

[2019-12-04 19:36] wesleytodd commented on #293
I didn't really mean to object to the agenda (I should have removed that line from my comment).  That part looks good!

I was more objecting to scheduling a meeting only 3-4 days in advance via a GH issue.  Sometimes I am over a week behind and just didn't want others like me to miss the meeting time on accident.  Having more lead time helps make sure everyone has a chance to schedule appropriatel

[2019-12-04 20:48] BethGriggs commented on #293
I can make that time 🙂

[2019-12-05 11:01] ghinks commented on #293
I can make this time too. But 3-4 days it tight. But in general Fridays are good as many folks have less meetings as it is a work from home day in many organizations.

[2019-12-05 12:00] helio-frota commented on #293
LGTM :+1:

[2019-12-05 13:21] GrosSacASac commented on #164
When I use an external dependencies I like it to be as small as possible. I want to see more I can always use `npm info ws repository.url`. But there are problems when git and npm are out of sync, so at the end including everything in the npm package is also ok.

[2019-12-05 14:57] GrosSacASac opened #294 "What do you think about crev ?"
Project page: https://github.com/crev-dev/crev/

[2019-12-05 17:09] wesleytodd commented on #294
I have no opinion, and what is documented there is really not enough to form them.  Is there something more you hope to see from us on this question?  If so could you maybe provide more context or links?

[2019-12-05 18:12] wesleytodd commented on #293
Ok, sounds like we are on for tomorrow!

Could we add to the end of the agenda (only if we have time) to discuss what we might do for https://github.com/openjs-foundation/summit/issues/219?

[2019-12-05 20:12] terinjokes commented on #244
I prefer to leave npm logged out on my local machine, relying (almost) entirely on external tooling to publish artifacts. While it doesn't prevent tokens from being stolen, it does prevent a lot of cases of worm-like behavior.

I'd like to see more support for managing token lifecycles on npmjs.com:
* comments or tags to document usage, and support filtering of large amounts of tokens.
* changing

[2019-12-05 22:21] mhdawson commented on #293
@wesleytodd talking about #219 sounds like a great idea.

[2019-12-05 22:22] mhdawson commented on #293
Its on the Node.js calendar: https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com

and here is the zoom link:  https://zoom.us/j/431077278

[2019-12-06 13:29] ghinks commented on #294
What I do find interesting is that quite organically many people are coming to similar conclusions about aligning on best practices and rules for open source in general. This is the first I have heard of crev. I applaud the idea. However I feel that we may be better served by joining into existing endeavors rather than starting new ones.

[2019-12-06 13:41] ghinks opened #295 "Node/JS Interactive Community Corner Talk"
The [Node/JS Interactive conference](https://events19.linuxfoundation.org/events/nodejs-interactive-2019/program/schedule/) is taking place on 11th December 2019. The issue is being opened to allow the draft of the talk to be shared.

[2019-12-06 14:12] GrosSacASac commented on #294
What else is already existing ?

Right now as a package maintainer the only safe way to update a dependency (correct me if I am wrong) is to install it with --ignore-scripts and carefully read the code, and all it's dependencies (if they changed). With crev we could share the fact that library@x.y.z is safe and reviewed. So then if I trust my coworker and he reviewed a dependency for another proje

[2019-12-06 16:17] wesleytodd commented on #294
There are many ways we might improve the story around security of packages.  I think having a a review tool would be a great addition!  It does not solve all things, but if you can get enough eyeballs looking it really helps!

As for what the WG can help with, I am not sure that project is mature enough to have us recommend it yet, as the docs are slim and really only cover what looks like a text

[2019-12-06 19:56] ljharb commented on #294
@GrosSacASac you can audit a dependency without installation, both by using https://unpkg.com or by downloading the tarball directly and exploring it.

[2019-12-07 09:58] dominykas commented on #294
I've been thinking of similar ideas at the start of the year, when the event-stream incident was still fresh. Yes, the only way to trust code you're importing is to either write it yourself (although I don't necessarily trust myself _that_ much) or to review it (but do you really grok the package from just the diff? what about something like babel? how RMS do we go on this - do we review V8 upstre

[2019-12-10 17:02] #285 closed

[2019-12-11 13:05] mhdawson opened #296 "Node.js Foundation Package Maintenance Team Meeting 2019-12-17"
## Time

**UTC Tue 17-Dec-2019 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 17-Dec-2019 12:00 (12:00 PM) |
| US / Mountain | Tue 17-Dec-2019 13:00 (01:00 PM) |
| US / Central  | Tue 17-Dec-2019 14:00 (02:00 PM) |
| US / Eastern  | Tue 17-Dec-2019 15:00 (03:00 PM) |
| London        | Tue 17-Dec-2019 20:00 (08:00 PM) |

[2019-12-13 17:05] wesleytodd opened #298 "Follow up on npm project automation"
At the collab summit rfc meeting @darcyclarke mentioned some work they are doing with automating things using probot.  Maybe we can collaborate on how to document your learnings?  I would love some of this for Express :)

[2019-12-13 23:24] thescientist13 opened #299 "[RFC] Workflow + Tooling for Package Maintainers"
## Overview
For projects and packages operating within the NodeJS ecosystem (especially those with a high impact to the community), affording maintainers the tooling and workflows to confidently publish and distribute packages to their consumers has become an identifiable and growing desire for the community at large.

During the Collab Summit [session for the Package Maintenance WG](https://githu

[2019-12-14 09:24] dominykas commented on #244
Just noticed that https://github.com/continuousauth is now available! Fantastic news and great work @MarshallOfSound et al.

[2019-12-16 23:43] mlrawlings commented on #299
To add to the above, specifically on the topic of tools to test against a project's ecosystem:

### Ensuring you don't break dependents
- ["Canary in the CI"](https://github.com/mlrawlings/canary) - a GitHub app that creates a network among dependencies and their dependents (very much a WIP, just threw this up to add to the discussion)
  - PROS: Uses dependent's test environment, so integration-ty

[2019-12-17 20:03] darcyclarke commented on #296
Is this meeting still on? I'm currently just sitting/hanging at the webinar/waiting screen.

[2019-12-17 20:04] dominykas commented on #296
We did discuss that this might get cancelled, but nobody ever raised that in an issue so not sure.

[2019-12-17 20:05] darcyclarke commented on #296
I'm fine either way

[2019-12-17 20:16] ruyadorno commented on #296
it's fine... see you all next year 😄

[2019-12-18 10:52] GrosSacASac commented on #294
There is also npmfs.com to see deltas between versions.
For example https://npmfs.com/compare/utilsac/10.1.0/10.2.0/

[2019-12-18 17:02] helio-frota opened #301 "Question: Is this part of a baseline practice? (link on description)"
Hi,

Not 100% clear for me but want to know if this is part of a baseline practice:

https://medium.com/@nodejs/choosing-the-node-js-versions-for-your-ci-tests-hint-use-lts-89b67f68d7ca

If not, no problem but is good to know anyway.

thanks

[2019-12-18 20:46] dominykas commented on #301
Yes, this recommendation is documented in https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/testing-guidelines.md

[2019-12-19 11:11] helio-frota commented on #301
@dominykas thanks!

[2019-12-19 11:11] #301 closed

[2019-12-25 13:06] mhdawson opened #303 "Node.js Foundation Package Maintenance Team Meeting 2019-12-31"
## Time

**UTC Tue 31-Dec-2019 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 31-Dec-2019 06:00 (06:00 AM) |
| US / Mountain | Tue 31-Dec-2019 07:00 (07:00 AM) |
| US / Central  | Tue 31-Dec-2019 08:00 (08:00 AM) |
| US / Eastern  | Tue 31-Dec-2019 09:00 (09:00 AM) |
| London        | Tue 31-Dec-2019 14:00 (02:00 PM) |

[2019-12-30 09:39] dominykas commented on #303
Should we reschedule this?

[2019-12-30 14:05] ghinks commented on #303
yes. I think that a great many folks will be doing other things at this time.

[2020-01-02 11:23] #294 closed

[2020-01-06 08:06] Eomm commented on #296
Closing due the meeting has been postponed

[2020-01-06 08:06] #296 closed

[2020-01-06 08:06] Eomm commented on #303
Closing due the meeting has been postponed

[2020-01-06 08:06] #303 closed

[2020-01-06 09:26] Eomm commented on #295
Where I can find a recap or a recording?

[2020-01-06 21:31] mhdawson commented on #295
The community corner ended not really being organized this year.  It was more of an informal chatting place versus talks.  Long way of saying there is no recording.

On the other hand when the recording from the collab summit come out there should be one from the package maintenance sessions.

[2020-01-06 21:31] #295 closed

[2020-01-08 13:19] mhdawson opened #305 "Node.js Foundation Package Maintenance Team Meeting 2020-01-14"
## Time

**UTC Tue 14-Jan-2020 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 14-Jan-2020 12:00 (12:00 PM) |
| US / Mountain | Tue 14-Jan-2020 13:00 (01:00 PM) |
| US / Central  | Tue 14-Jan-2020 14:00 (02:00 PM) |
| US / Eastern  | Tue 14-Jan-2020 15:00 (03:00 PM) |
| London        | Tue 14-Jan-2020 20:00 (08:00 PM) |

[2020-01-13 07:27] dominykas commented on #305
I'll have to miss this, but there's been a pretty cool new 2FA thing open sourced this week: https://opensource.googleblog.com/2020/01/wombat-dressing-room-npm-publication_10.html

I'll update #282 to include it at some point.

[2020-01-13 14:09] lholmquist commented on #305
that wombat dressing room does look pretty nice

also, i'll only be in the first 30 minutes of this meeting

[2020-01-13 16:43] ljharb commented on #305
It requires you run your own service, though - my understanding of npm's plans are a feature that wouldn't require that.

[2020-01-13 19:52] mhdawson commented on #305
I'm hoping to be able to make it but I'm not 100% sure I'll be back in time. @BethGriggs can you start the zoom/meeting if I can't make it?

[2020-01-14 20:07] mhdawson commented on #268
Collab summit happened closing.

[2020-01-14 20:07] #268 closed

[2020-01-14 20:59] mhdawson commented on #192
Current next actions are:

* Tweak to reference the funding proposal/fields
  * Idea is to decouple the funding info from the support field, links would be
    References to the funding field.
* Update pkgs validation tool to support current version (want tooling before we call for input)
* Broader call for input.

[2020-01-15 13:04] BethGriggs opened #307 "Meeting: Test Tooling Breakout Session"
There were good and lengthy discussions about tooling for testing modules at the collaborator summit - I think those discussions will benefit from their own breakout meeting(s) (as discussed in #305).

Related issues:
- Workflow + Tooling for Package Maintainers [#299](https://github.com/nodejs/package-maintenance/issues/299)
- Suggestion: CITGM for a module dependants -  [#84](https://github.com/

[2020-01-15 13:55] lholmquist commented on #307
:+1:

[2020-01-15 17:00] Trott commented on #307
Leaving a 👍here in addition to the reaction because I believe the reaction will truncate the list of folks if it gets too large. Sorry for the noise.

[2020-01-18 17:24] thescientist13 opened #309 "[RFC] Governance Models and Methodologies for Package Maintainers"
## Overview
Coming out of the recent WG meeting (#305), one of the topics that came up while discussing the Express project was [an issue](https://github.com/nodejs/package-maintenance/issues/233) started by @wesleytodd to help establish repo owners for the project, who could help maintain the code base and its packages, and share in the responsibilities as it relates to help with triage / review

[2020-01-18 18:11] ljharb commented on #309
(Netlify requires compulsory advertising/shilling in exchange for their “free” open source project plan; let’s avoid endorsing specific companies given that we have no influence over problematic policies)

[2020-01-18 18:43] thescientist13 commented on #309
Fair point in regards to endorsing other companies.  I've seen similar discussions around other repos to that effect and makes sense to me.   Updated.

[2020-01-20 11:28] BethGriggs commented on #307
Slightly late notice but I have created a Doodle to cover the next week (until Monday 27th) to gauge availability - https://doodle.com/poll/9dmaa52xyv66597g

I'll spin up a new Doodle for the following week if we cannot find any times that work this week.

[2020-01-20 14:15] Trott commented on #307
/ping @boneskull

[2020-01-20 14:17] Trott commented on #307
Oops, sorry, this is "test tooling for package maintenance" and not "tooling for packages that do testing". Ignore my ping.

[2020-01-21 17:06] boneskull commented on #307
i failed to ignore this

[2020-01-22 13:19] mhdawson opened #310 "Node.js Foundation Package Maintenance Team Meeting 2020-01-28"
## Time

**UTC Tue 28-Jan-2020 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 28-Jan-2020 06:00 (06:00 AM) |
| US / Mountain | Tue 28-Jan-2020 07:00 (07:00 AM) |
| US / Central  | Tue 28-Jan-2020 08:00 (08:00 AM) |
| US / Eastern  | Tue 28-Jan-2020 09:00 (09:00 AM) |
| London        | Tue 28-Jan-2020 14:00 (02:00 PM) |

[2020-01-24 13:24] rexagod commented on #67
I'd be happy to work on a parser package that points out words based on their [effective valence](https://en.wikipedia.org/wiki/Valence_(psychology)) in a file, bringing such words to the maintainer's notice. After that, I guess it's entirely up to them to modify such words or leave them as they are (hence not enforcing such modifications in any way).

[2020-01-28 14:22] mhdawson commented on #192
PR to integrate with npm funding field: https://github.com/nodejs/package-maintenance/pull/312

[2020-01-28 14:36] #159 closed

[2020-01-28 15:12] darcyclarke commented on #271
@wesleytodd Quick Q: what was the original intent behind having a separate org spun up compared to pulling in net-new projects to `@nodejs`? It seems like we'll end up duplicating efforts to manage membership/auth/access.

[2020-01-28 16:36] wooorm commented on #309
Hi! 👋 Sorry to barge in but I like thinking about governance, and did so a while back for the unified collective on [`unifiedjs/collective`](https://github.com/unifiedjs/collective#readme). This could be interesting to y’all as another source of inspiration maybe?

(p.s. unified is hundreds of infrequently updated modular packages spread out over several organizations, in total getting about 3B do

[2020-01-30 19:57] BethGriggs commented on #307
I've updated the doodle to cover the first two weeks of February - hopefully, that'll give us more ability to find a good time for everyone - https://doodle.com/poll/9dmaa52xyv66597g

(Apologies to those that completed the previous one)

[2020-01-30 21:02] mhdawson commented on #307
I added my availability but since I'm out next week don't wait for me.

[2020-01-31 22:04] Eomm commented on #305
Closing: PR minutes #306

[2020-01-31 22:04] #305 closed

[2020-01-31 22:14] Eomm commented on #67
@rexagod Could you elaborate?

I though a document would be enough to broad awareness.
I think it is not a matter of "banned-words" only, but of inclusivity

[2020-02-02 19:34] rexagod commented on #67
Correct me if I'm wrong but to me, this seems to be an issue regarding lessening the usage of contextual offensive (negative valence) words, by some method, be it a parser package that analyzes the code or simply just a document that outlines this idea, as you said.

What I was proposing here is a package that does the same and runs on an event (say, compilation, build, hooks, etc.) that shows the

[2020-02-04 22:21] Eomm commented on #67
I don't want to block you to write some code, but I feel that this utility would not hit the target at the core and, reading the [comment above](https://github.com/nodejs/package-maintenance/issues/67#issuecomment-445458781), it seems that such tools exist.

When I say "target" I refer to:
- the WG scope: a package more maintainable
- "provide guidance in best practices, which objectively include

[2020-02-05 13:19] mhdawson opened #314 "Node.js Foundation Package Maintenance Team Meeting 2020-02-11"
## Time

**UTC Tue 11-Feb-2020 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 11-Feb-2020 12:00 (12:00 PM) |
| US / Mountain | Tue 11-Feb-2020 13:00 (01:00 PM) |
| US / Central  | Tue 11-Feb-2020 14:00 (02:00 PM) |
| US / Eastern  | Tue 11-Feb-2020 15:00 (03:00 PM) |
| London        | Tue 11-Feb-2020 20:00 (08:00 PM) |

[2020-02-07 12:43] BethGriggs commented on #307
Thursday 13th February 5PM - 6PM UTC looks good for those that have completed the poll. I think we should start with that time and iterate from there. I'll work on adding to the Node.js calendar so that we can use the Zoom account.

So far it looks like it'll be @dominykas, @mhdawson, @andrewhughes101, and myself. Ping @nodejs/citgm in case they're interested.

[2020-02-11 20:48] wesleytodd commented on #307
I will be there!  Also thought I think some collaboration between us and @nodejs/tooling is a good idea, so @boneskull if you want to attend you are more then welcome!

[2020-02-11 20:51] wesleytodd commented on #271
To follow up from our meeting today, the next steps for this is to raise this up to the greater Node community (maybe via the TSC?) and see how others are managing this and how we might make this official without loosing out on the reasons we thought a separate org was a good idea in the first place.

So, does anyone know of other teams/wg's which do this?  If so how are they managing it.  Also, s

[2020-02-12 16:39] bcoe commented on #307
:wave: anything you need from me, not sure if this is test tooling in general, or specifically CITGM stuff you're discussing?

[2020-02-13 13:55] BethGriggs commented on #307
@bcoe, this will be more around discussing use cases/requirements for tooling to support the package maintenance efforts, rather than test tooling in general.

The types of discussion I anticipate will happen:
  - How can we test across multiple Node.js versions?
  - How can a module author test the health of their module tree?
  - How can a module author test whether their changes are going to im

[2020-02-13 13:57] BethGriggs commented on #307
Because the Website Redesign is at the same time as this call, we'll be unable to use the Community Zoom account. I've scheduled a meeting under my personal account but that means we will not be able to stream. It may be possible to record the meeting, and we'll aim to take some good minutes/notes and to populate issues on the package maintenance board.

Zoom - https://us04web.zoom.us/j/157787412

[2020-02-17 11:22] dominykas commented on #280
Adding to the meeting agenda:

I think we need an official repo (i.e. under `nodejs`, not `pkgjs` org) for Travis (and in the future - other CI setup?) includes. I know @ljharb was working on something - not sure how ready that is?

What I'd like to see is an include file with min version and the support policy - we can discuss details in the meeting/new issue (in the new repo?)

[2020-02-17 14:07] BethGriggs commented on #307
**Summary of discussions on 2020-02-13**

**How can a module author test the health of their module tree?**
  - For module authors testing the health of their parents/tree is less important.
  - There is merit in CITGM having the ability to test a modules dependency tree for Node.js.

**How can a module author test whether their changes are going to impact modules that depend on them?**
  - Can we

[2020-02-17 16:30] ljharb commented on #280
I have https://github.com/ljharb/travis-ci which I’m using in hundreds of repos; there’s parts of it that remain mildly opinionated about package.json scripts structure, is all.

That said, it’s already possible to rely on just the version matrix from it.

[2020-02-17 17:23] wesleytodd commented on #280
Is the reason this is travis specific because that is still the most popular?  I personally am switching everything to GH actions, and we discussed on Express doing the same.  It seems like having one project with shared configurations just for the node versions part for all popular CI services would be the right course no?

[2020-02-17 17:25] ljharb commented on #280
I don’t think there can be a single universal source based on what’s supported right now; i think each service needs it’s own distinct solution (even if that’s all maintained by us).

[2020-02-17 18:11] BethGriggs commented on #307
Uploaded the recording to YouTube - https://www.youtube.com/watch?v=F3WDWokqrhU

[2020-02-17 18:58] thescientist13 commented on #307
Regarding this point, and not sure if it came up during the call

Can GitHub usage be assumed for the most part, or at least the representative majority of package authors?  If so, would GitHub actions would be applicable to this item, since their workflows support the ability to define a [build matrix](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrat

[2020-02-17 20:08] ljharb commented on #307
@thescientist13 every CI allows testing on multiple node versions and some kind of a build matrix; github actions isn't unique here.

[2020-02-17 20:13] thescientist13 commented on #307
Cool, yeah, I figured as much, but wasn't sure if the topic itself (build matrix) had come up specifically as a suggestion / answer here.  I'm sure it's about the same API from provider to provider, so probably not a lot of effort to maintain some examples for popular services (CircleCI, Travis, GitHub).

Not sure about all the policies on when / what  and should / can be endorsed outside of the N

[2020-02-17 21:56] mhdawson commented on #271
@wesleytodd do we have a list of those reasons that we can use for the discussions? Most if not all of the teams I know of are using repos under the Node.js org.

Can you also clarify what you mean by "official".  I thought one of the concerns that led to a separate org was avoiding the impression of it being official.

[2020-02-17 23:12] ruyadorno opened #317 "npm workspaces RFC"
As I mentioned to the group in one of the meetings, here is the RFC to implement **workspaces** support in the npm cli:

https://github.com/npm/rfcs/pull/103

[2020-02-17 23:48] dominykas commented on #280
TBH, I haven't followed the latest developments, but I was hoping that it can all be done natively by GH... If that's not available - sure, absolutely, we should provide an official recommendation in the nodejs org.

I think a repo-per-service is probably better? Ideas for a naming convention?

[2020-02-18 00:12] dominykas commented on #307
@thescientist13 there's some ongoing discussion to provide an "official" and "auto-updating" set of matrices for common services in #280.

[2020-02-18 13:35] thescientist13 commented on #307
Thanks!  Let me know if you need any help with anything.  👍

[2020-02-19 13:19] mhdawson opened #318 "Node.js Foundation Package Maintenance Team Meeting 2020-02-25"
## Time

**UTC Tue 25-Feb-2020 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 25-Feb-2020 06:00 (06:00 AM) |
| US / Mountain | Tue 25-Feb-2020 07:00 (07:00 AM) |
| US / Central  | Tue 25-Feb-2020 08:00 (08:00 AM) |
| US / Eastern  | Tue 25-Feb-2020 09:00 (09:00 AM) |
| London        | Tue 25-Feb-2020 14:00 (02:00 PM) |

[2020-02-19 17:41] wesleytodd commented on #244
Another approach: https://github.com/erezrokah/2fa-with-slack-action

[2020-02-19 19:05] #314 closed

[2020-02-19 19:06] rxmarbles commented on #310
@mhdawson do you have a PR for the meeting notes? open for this?

[2020-02-19 19:07] rxmarbles commented on #310
nvm found it. closing issue

[2020-02-19 19:07] #310 closed

[2020-02-20 17:28] wesleytodd commented on #280
I recently setup [dependabot](https://dependabot.com/) on a few repos to see how it works.  My first take is "WOW it is so chatty".  We had disabled it on Express for this reason, and I thought maybe there were just some settings to make it better.  I could not find those settings.

Here are the questions I have:

- Why it closes and re-opens new PRs for the same dependency as it continues to get

[2020-02-20 18:14] ljharb commented on #280
I definitely disable dependabot on every repo for these reasons and others; i prefer greenkeeper.

[2020-02-20 18:22] lirantal commented on #280
Chiming in here since I actually [wrote about this thing](https://dev.to/snyk/making-automatic-yet-informed-decisions-when-upgrading-dependencies-5ij) recently with regards to Snyk which recently rolled out support for dep upgrades.

One of the key points I was making is the ability to configure the type of upgrades you want to receive, ignore some packages if you want, and most importantly the de

[2020-02-20 20:52] wesleytodd commented on #271
I think it was burried in an unrelated issue, I will dig for it and pull it into the OP here.

How many of them are producing tools like we want to build?  When I look at the repos in the node org I don't see much like what we have currently in `pkgjs`.

Official in this sense is about governance and ownership, and the thing we wanted to avoid was canonical implementation squashing competitive lib

[2020-02-20 22:10] mhdawson commented on #271
@wesleytodd the closest is possibly node-addon-api, and nan.  Others repos for tools like https://github.com/nodejs/create-node-meeting-artifacts are more for internal use.   Mostly I was saying that other teams are using repos in the org, not that they are doing something similar.

In terms of "official", then what you might be asking is if the Node.js Project can 'own' and additional repo, with

[2020-02-20 23:17] wesleytodd commented on #271
Yeah, described very well!

Got it.  I think that our differences matter here.  Internal tools don't really confer any sense of "official implementation" and things like nan are actually supported official projects.

[2020-02-21 14:29] mhdawson commented on #271
Create this issue in the admin repo to start the discussion at the project level: https://github.com/nodejs/admin/issues/470

[2020-02-23 15:55] dominykas commented on #271
I think there are two more aspects where the second org makes sense:

1. Just because we can create repositories in nodejs or pkgjs org, I don't want the new projects that are created there to feel like they're side-stepping the process of getting the foundation umbrella (mostly cause I'm not even sure what the implications are, but it would still feel unfair that an existing project would have to

[2020-02-23 15:56] dominykas commented on #280
I know for sure that renovate can do all of these things.

[2020-02-23 18:40] thescientist13 commented on #309
Took some time to review the existing docs, surveys, and issues in this repo and was able to draw a lot from that well of resources.  I was thinking that maybe a Governance doc could be authored / presented as a single entry point for package maintainers to all existing content?  It could present a single cohesive overarching narrative in its tone / authoring, while also acting like a table of con

[2020-02-24 11:52] rexagod commented on #67
Apologies for the delay, @Eomm!

I skimmed through ethics.org and realised that the scope the this issue is way too broad to be handled by a tool. I'm all for collaborating on the document which, as is obvious, won't be any easier than the tool, but definitely worth it!

I'd love to hear any ideas/sources you think would be a good starting point for the formation of this doc, meanwhile I'll dig up

[2020-02-26 14:16] mhdawson commented on #318
PR for minutes: https://github.com/nodejs/package-maintenance/pull/320

[2020-02-27 17:10] dominykas opened #321 "Shared CI configurations"
Origin: https://github.com/nodejs/package-maintenance/issues/280#issuecomment-587206745 and #318.

Travis now supports includes. I'm not too familiar with other systems, but I'm sure they have something too. It would be nice to provide an official set of includes that people can just take and use, e.g. "On Travis, use all LTS versions starting with v10 + current version" (implementation details /

[2020-02-27 17:14] dominykas commented on #321
Keeping my suggestion outside of the intro post. I think my preference is a repository per service, with one extra repository for meta discussions - primarily because it's hard to expect people to be knowledgeable about all the various CI systems, but also because it allows fine-grained merge access, so I'd propose:

- `ci-config` - meta discussions, setting the patterns for all the other repos
-

[2020-02-27 17:24] ljharb commented on #321
I’m happy to set up and maintain that, if it’s what we want to do, since I’m already doing it in https://github.com/ljharb/travis-ci.

[2020-02-27 20:42] mhdawson commented on #321
I don't have any better ideas for the naming.

[2020-02-27 20:43] mhdawson commented on #309
Tagging so we discuss at the next meeting.

[2020-03-02 20:52] jonchurch opened #322 "Axios Outreach"
Hello package maintenance group 👋. I am not a member, but have been brought into the Express Triage effort based on what I believe were conversations that started here.

I wanted to note that I have commented on [an issue](https://github.com/axios/axios/issues/2747#issuecomment-593608470) at the Axios repo, mentioning to them the existence of this working group.

**I hope that was okay, and I apol

[2020-03-03 00:17] wesleytodd opened #323 "Idea: #236 Standard grammar for node release lines and security"
I propose an addition to the alias specification:

This would require that implementations of the alias's would need a way to look up which versions of Node have known security issues.  What it would do is give the node ecosystem an even better way to support and test against known good versions of Node.

What do folks think about this addition?

[2020-03-03 00:29] ljharb commented on #323
This seems like *way* too high a burden to place on tooling; additionally, it adds legal liability if something claims to never resolve to known vulns, and then produces some.

This is the job of security ecosystem tooling imo, and very much outside the scope of what we're doing here.

[2020-03-03 00:44] wesleytodd commented on #323
Interesting point!  Yeah that alone might make this unfeasible, but my thinking was that if node is doing a security patch, it knows which are the effected versions and could publish it somehow in the versions manifest.  That said, it does bring along some unintended consequences and so maybe belongs in security tooling instead!

[2020-03-03 00:53] ljharb commented on #323
Additionally, most vulnerabilities don't apply to most use cases - ie, there's a *lot* of false positives - and it's not actually helpful for the ecosystem to desensitize people to security updates. This is a problem that already exists, but I wouldn't want us to make it worse.

[2020-03-03 01:00] wesleytodd commented on #323
Sure! but for most folks just saying "these should be avoided in general" is a great best practice.  And for almost all use cases this is done by just following the tip of LTS.  So I am not sure how this would make it worse.  The goal is just to make it eaiser for folks to stay on that edge.

[2020-03-03 08:28] MarcinHoppe commented on #323
What kind of tooling do you mean?

[2020-03-03 10:09] dominykas commented on #323
But all of the keywords already resolve to the latest version in the major release line? And the `all` keyword resolves to unmaintained versions, which _do_ have known vulnerabilities?

There's also the case of the latest version containing known vulnerabilities and defining what's a vulnerability anyways.

[2020-03-03 12:30] MacL3an commented on #187
Not sure if this is the same problem, but I'll give it a go anyway:
We have a NodeJS app running in a Docker container (Node Alpine) in a Linux App Service. During high load we get super bad response times between the NodeJS app and our Java backend. According to the Azure portal we are suffering from SNAT Port Exhaustion, where I can see we are trying and failing to open >1000 simultaneous reques

[2020-03-03 14:37] chinesedfan commented on #322
@jonchurch @wesleytodd Thanks for your messages left in [my issue](https://github.com/axios/axios/issues/2747), and the answer is absolutely YES. Let me introduce the background more.

- The owner of axios is @mzabriskie, who has quit from people's sight for a while.
- And @emilyemorehouse is the only member I used to meet in Github. We can ask her to release new releases, but she doesn't have tim

[2020-03-03 17:15] wesleytodd commented on #323
I think you all bring up good points.  I think I opened this prematurely.  My thought was that for the ones where there is a list, if someone was building logic based on that list (like in a CI pipeline) it would be good to help them avoid versions with security voulns.  I think the phrasing in #236 is a bit unclear because it says "All releases".  I think maybe we should say "the latest version o

[2020-03-03 18:09] dominykas commented on #323
Not an explicit one - it's the table in the support levels doc. I think it's worth having a separate doc for this.

[2020-03-04 13:18] mhdawson opened #324 "Node.js Package Maintenance Team Meeting 2020-03-10"
## Time

**UTC Tue 10-Mar-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 10-Mar-2020 12:00 (12:00 PM) |
| US / Mountain | Tue 10-Mar-2020 13:00 (01:00 PM) |
| US / Central  | Tue 10-Mar-2020 14:00 (02:00 PM) |
| US / Eastern  | Tue 10-Mar-2020 15:00 (03:00 PM) |
| London        | Tue 10-Mar-2020 19:00 (07:00 PM) |

[2020-03-10 20:08] mhdawson commented on #321
Agreed to ask for these repos in the Package maintenance meeting today:

  * nodejs/ci-config-travis
  * nodejs/ci-config-github-actions

[2020-03-10 20:08] mhdawson commented on #321
Issue for request: https://github.com/nodejs/admin/issues/477

[2020-03-16 09:46] andrewhughes101 opened #327 "Dependents tooling"
As a follow on from #307 I've started looking into the best way to get a modules dependents. So far the only way I've found how to do it is to scrape the npm site on this endpoint https://www.npmjs.com/browse/depended/express

Does anyone know of any alternative way or if there is an endpoint on http://registry.npmjs.org/  that would return the dependents?

[2020-03-16 10:03] vweevers commented on #327
For scraping, you might like [`npm-dependants`](https://github.com/juliangruber/npm-dependants). There's no official API. The only other option is to replicate the registry (can take a few hours), e.g.:

[code]

I've been thinking it'd be nice to have a service that continuously replicates, puts the packages in a graph database, and exposes an HTTP API (https://github.com/vweevers/about-native-mod

[2020-03-16 10:41] BethGriggs commented on #307
I think this can be closed as the meeting happened - #327 will cover the first prototype of the tool that was discussed.

[2020-03-16 10:41] #307 closed

[2020-03-18 12:19] mhdawson opened #328 "Node.js Package Maintenance Team Meeting 2020-03-24"
## Time

**UTC Tue 24-Mar-2020 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 24-Mar-2020 06:00 (06:00 AM) |
| US / Mountain | Tue 24-Mar-2020 07:00 (07:00 AM) |
| US / Central  | Tue 24-Mar-2020 08:00 (08:00 AM) |
| US / Eastern  | Tue 24-Mar-2020 09:00 (09:00 AM) |
| London        | Tue 24-Mar-2020 13:00 (01:00 PM) |

[2020-03-20 16:29] lholmquist opened #329 "Question on Publishing of Company Supported Modules"
There is a publishing scenario that i was thinking about recently, that I wanted to bring up to this group to see what others thoughts were.

Lets say that a company has its own internal registry where they have node modules that they support for their customers.  Those support node modules are scoped with the company name in their internal registry.  This way, all the customer has to do is add a

[2020-03-20 17:04] vweevers commented on #329
I'd consider that squatting, because such a package doesn't serve the public, it only benefits (the customers of) the company.

[2020-03-20 17:42] brodybits commented on #329
I think any company should have a right to use its own org name if it is available and publish whatever it needs into its own namespace, public if needed for any reason, just like an individual should have this kind of right.

[2020-03-20 17:54] vweevers commented on #329
There are limits. See https://docs.npmjs.com/using-npm/disputes.html:

[2020-03-20 18:11] lholmquist commented on #329
So i might have left out a bit of context.  The company also publishes a "community" version of the module on npm,  just not under the @companyName scope.  So while i agree with the squatting argument, this might not be(?) . sort of a fine line there.

I don't think moving the module to the company scope is feasible since the module is already well established.

[2020-03-20 18:13] ljharb commented on #329
It’s likely not squatting if you’re using your own company name as an org placeholder, for this very purpose - who else would have the right to use that org name?